---
sitemap_exclude: y
---
@import "common";
.post {
  .post-wrapper {
    padding-top: $spacing--xxxl;
  }

  .content-attribution {
    color: $dark-gray;
    font-size: 15px;
    font-style: italic;
    margin: $spacing--xxxl 0 $spacing--xl;
  }
}
