.dark-theme {
    $not-so-dark-gray: lighten($dark-gray, 10%);
    --backgroundColor: #{$not-so-dark-gray};

    --textColor: #dddddd;
    --textCodeColor: #cccccc;
    --disabledTextColor: #{darken(#dddddd, 25%)};

    --linkColor: #e9ffaa;
    --linkHoverColor: #de7d40;
    --linkDisabledColor: #444444;
    --linkActiveColor: #de7d40;

    --h1Color: #{$white};
    --h2Color: #{$white};
    --h3Color: #{$light-gray};
    --h4Color: #{$light-gray};
    --h5Color: #{$light-gray};
    --h6Color: #{$light-gray};
    --h2UnderlineColor: var(--mainBrandColor);

    --buttonActiveColor: #e07484;
    --dividerBarColor: rgba(255, 255, 255, .1);
    --glossaryHeaderColor: #{$medium-gray};
    --blockQuoteBackgroundColor: #{$dark-gray};
    --tipCalloutBackgroundColor: #{$dark-gray};
    --ideaCalloutBackgroundColor: #{$dark-gray};
    --warningCalloutBackgroundColor: #{$dark-gray};
    --deprecatedBackgroundColor: silver;
    --boxBorderColor: var(--textColor);

    --preBlockShadowColor: #777777;
    --preBlockBorderColor: #777777;
    --preBlockBackgroundColor: #2d2d2d;
    --preBlockCommandOutputTextColor: var(--textColor);
    --preBlockCommandOutputBackgroundColor: #{$dark-gray};

    --dropdownBorderColor: #{$white};
    --dropdownCheck: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    --dropdownHoverCheck: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");

    --popoverBorderColor: #777777;
    --popoverShadowColor: #777777;
    --popoverHeaderBackgroundColor: #{$dark-gray};
    --popoverHeaderTextColor: var(--textColor);
    --popoverBackgroundColor: var(--backgroundColor);
    --popoverTextColor: var(--textColor);

    --headerLightShadowColor: rgba(0, 0, 0, .14);
    --headerDarkShadowColor: rgba(0, 0, 0, .28);

    --figureBackgroundColor: #a3a3a3;
    --figureCaptionColor: #{$white};

    --heroLogoColor: var(--textColor);
    --landingPanelBackgroundColor: #{$dark-gray};
    --landingPanelBorderColor: #777777;
    --landingPanelTextColor: var(--textColor);
    --landingPanelShadowColor: #777777;
    --landingPanelShadowHoverColor: #999999;

    --floatingButtonColor: rgba(0, 0, 0, .4);
    --floatingButtonHoverColor: var(--textBrandHighlightColor);

    --companyLogoBackgroundColor: lightgrey;
    --companyLogoTaglineColor: #{$black};

    --textWeight: 300;
    --linkWeight: 300;
    --h1Weight: 400;
    --h2Weight: 400;
    --h3Weight: 500;
    --h4Weight: 500;
    --h5Weight: 500;
    --h6Weight: 500;
    --tableHeaderWeight: 400;
    --boldTextWeight: 600;
    --heroLeadWeight: 300;
    --blogAttributeWeight: 500;
    --sectionIndexLinkWeight: 400;
    --buttonWeight: 400;
    --tocLinkWeight: 300;
    --sidebarLinkWeight: 300;
    --sidebarCurrentPageWeight: 500;
    --glossaryHeaderWeight: 300;
    --glossaryWordWeight: 500;
    --figureCaptionWeight: 400;
    --textCodeWeight: 300;
    --faqQuestionWeight: 400;
}
