html {
    --backgroundColor: #ffffff;

    --textCodeColor: #7dc6f2;
    --primaryColor: #293655;            //dark-grey-blue
    --secondaryColor: #516ba9;          //dull-blue
    --accentColor: #7dc6f2;             //light-blue
    --secondaryAccentColor: #3d5080;    //denim
    --paleGray: #f8f9fa;

    --inputBorderColor: #566ca5;
    --textColor: #293655;
    --textCodeColor: #d14;
    --disabledTextColor: #{lighten(#535f61, 50%)};
    --textGray: #8a8a8c;

    --linkColor: #306bcc;
    --linkHoverColor: #1d67a0;
    --linkDisabledColor: #cccccc;
    --linkActiveColor: #516baa;

    --h1Color: var(--textColor);
    --h2Color: var(--textColor);
    --h3Color: var(--textColor);
    --h4Color: #{$dark-gray};
    --h5Color: #{$dark-gray};
    --h6Color: #{$dark-gray};
    --h2UnderlineColor: var(--mainBrandColor);

    --buttonActiveColor: #b05464;
    --dividerBarColor: rgba(0, 0, 0, .1);
    --glossaryHeaderColor: #{$medium-gray};
    --deprecatedBackgroundColor: silver;
    --boxBorderColor: var(--tipCalloutBorderColor);
    --inputBorderColor: #566ca5;

    --quoteCalloutBackgroundColor: #f8f9fa;
    --quoteCalloutBorderColor: #f8f9fa;
    --tipCalloutBackgroundColor: #f2fff2;
    --tipCalloutBorderColor: #7dc6f2;
    --ideaCalloutBackgroundColor: #ffffe0;
    --ideaCalloutBorderColor: #f7f7d8;
    --warningCalloutBackgroundColor: #fff2f2;
    --warningCalloutBorderColor: #f7eaea;

    --preBlockShadowColor: #a7a7a7;
    --preBlockBorderColor: #7dc6f2;
    --preBlockBackgroundColor: #f8f9fa;
    --preBlockCommandOutputTextColor: var(--textColor);
    --preBlockCommandOutputBackgroundColor: #{$light-gray};

    --dropdownBorderColor: #{$black};
    --dropdownCheck: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='black' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    --dropdownCheckHover: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");

    --tabsetBorderColor: #f2f2f2;
    --tabsetShadowColor: #a7a7a7;
    --tabsetUnselectedTabBackgroundColor: #f2f2f2;
    --tabsetSelectedTabBackgroundColor: #ffffff;

    --sidebarRightChevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='4' viewBox='0 0 7 4'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%2351504f;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M3.5,0,7,4H0Z' transform='translate(7 4) rotate(180)'/%3E%3C/svg%3E");
    --sidebarRightChevronHover: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 407.436 407.436'%3E%3Cpath fill='orange' d='M112.814 0L91.566 21.178l181.946 182.54-181.946 182.54 21.248 21.178 203.055-203.718z'/%3E%3C/svg%3E");
    --sidebarDownChevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='4' viewBox='0 0 7 4'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%2351504f;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M3.5,0,7,4H0Z' transform='translate(7 4) rotate(180)'/%3E%3C/svg%3E");
    --sidebarDownChevronHover: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 407.437 407.437'%3E%3Cpath fill='orange' d='M386.258 91.567l-182.54 181.945L21.179 91.567 0 112.815 203.718 315.87l203.719-203.055z'/%3E%3C/svg%3E");

    --popoverBorderColor: #777777;
    --popoverShadowColor: #777777;
    --popoverHeaderBackgroundColor: #{$light-gray};
    --popoverHeaderTextColor: var(--textColor);
    --popoverBackgroundColor: var(--backgroundColor);
    --popoverTextColor: var(--textColor);

    --figureBackgroundColor: var(--backgroundColor);
    --figureCaptionColor: #80889b;

    --landingPanelBackgroundColor: var(--secondaryColor);
    --landingPanelBorderColor: #dddddd;
    --landingPanelTitleColor: #ffffff;
    --landingPanelTextColor: #ffffff;
    --landingPanelShadowColor: #a7a7a7;
    --landingPanelShadowHoverColor: #a7a7ee;

    --floatingButtonColor: rgba(0, 0, 0, .4);
    --floatingButtonHoverColor: var(--textBrandHighlightColor);

    --companyLogoBackgroundColor: var(--paleGray);
    --companyLogoTaglineColor: var(--textColor);

    --stickerBackgroundColor: rgba(34, 139, 34, 1);
    --stickerTextColor: white;
    --stickerBorderColor: rgba(59, 164, 59, 1);
    --stickerLinkColor: #e9ffaa;
    --stickerLinkHoverColor: #de7d40;
    --stickerLinkDisabledColor: #444444;
    --stickerLinkActiveColor: #de7d40;

    --bannerBackgroundColor: #293655;
    --bannerTextColor: white;
    --bannerLinkColor: #7dc6f2;
    --bannerLinkHoverColor: #1d67a0;
    --bannerLinkDisabledColor: #444444;
    --bannerLinkActiveColor: #7dc6f2;

    --modalBackgroundColor: fade-out(var(--paleGray), .3);

    --regularWeight: 400;
    --mediumWeight: 500;
    --semiBoldWeight: 600;
    --boldWeight: 700;

    --textWeight: 500;
    --linkWeight: 400;
    --h1Weight: var(--boldWeight);
    --h2Weight: var(--boldWeight);
    --h3Weight: var(--boldWeight);
    --h4Weight: 500;
    --h5Weight: 500;
    --h6Weight: 500;
    --tableHeaderWeight: 400;
    --boldTextWeight: 600;
    --blogAttributeWeight: 600;
    --sectionIndexLinkWeight: 400;
    --buttonWeight: 500;
    --tocLinkWeight: 400;
    --sidebarLinkWeight: 400;
    --sidebarCurrentPageWeight: 500;
    --glossaryHeaderWeight: 300;
    --glossaryWordWeight: 500;
    --figureCaptionWeight: 400;
    --textCodeWeight: 400;
    --faqQuestionWeight: 400;
}
