
$backgroundColor: var(--backgroundColor);

$textColor: var(--textColor);
$textCodeColor: var(--textCodeColor);
$disabledTextColor: var(--disabledTextColor);

$linkColor: var(--linkColor);
$linkHoverColor: var(--linkHoverColor);
$linkDisabledColor: var(--linkDisabledColor);
$linkActiveColor: var(--linkActiveColor);

$h1Color: var(--h1Color);
$h2Color: var(--h2Color);
$h3Color: var(--h3Color);
$h4Color: var(--h4Color);
$h5Color: var(--h5Color);
$h6Color: var(--h6Color);
$h2UnderlineColor: var(--h2UnderlineColor);

$buttonActiveColor: var(--buttonActiveColor);
$dividerBarColor: var(--dividerBarColor);
$glossaryHeaderColor: var(--glossaryHeaderColor);
$deprecatedBackgroundColor: var(--deprecateBackgroundColor);
$boxBorderColor: var(--boxBorderColor);

$quoteCalloutBackgroundColor: var(--quoteCalloutBackgroundColor);
$quoteCalloutBorderColor: var(--quoteCalloutBorderColor);
$tipCalloutBackgroundColor: var(--tipCalloutBackgroundColor);
$tipCalloutBorderColor: var(--tipCalloutBorderColor);
$ideaCalloutBackgroundColor: var(--ideaCalloutBackgroundColor);
$ideaCalloutBorderColor: var(--ideaCalloutBorderColor);
$warningCalloutBackgroundColor: var(--warningCalloutBackgroundColor);
$warningCalloutBorderColor: var(--warningCalloutBorderColor);

$preBlockShadowColor: var(--preBlockShadowColor);
$preBlockBorderColor: var(--preBlockBorderColor);
$preBlockBackgroundColor: var(--preBlockBackgroundColor);
$preBlockCommandOutputTextColor: var(--preBlockCommandOutputTextColor);
$preBlockCommandOutputBackgroundColor: var(--preBlockCommandOutputBackgroundColor);

$dropdownBorderColor: var(--dropdownBorderColor);
$dropdownCheck: var(--dropdownCheck);
$dropdownCheckHover: var(--dropdownCheckHover);

$tabsetBorderColor: var(--tabsetBorderColor);
$tabsetShadowColor: var(--tabsetShadowColor);
$tabsetUnselectedTabBackgroundColor: var(--tabsetUnselectedTabBackgroundColor);
$tabsetSelectedTabBackgroundColor: var(--tabsetSelectedTabBackgroundColor);

$sidebarRightChevron: var(--sidebarRightChevron);
$sidebarRightChevronHover: var(--sidebarRightChevronHover);
$sidebarDownChevron: var(--sidebarDownChevron);
$sidebarDownChevronHover: var(--sidebarDownChevronHover);

$popoverBorderColor: var(--popoverBoardColor);
$popoverShadowColor: var(--popoverShadowColor);
$popoverHeaderBackgroundColor: var(--popoverHeaderBackgroundColor);
$popoverHeaderTextColor: var(--popoverHeaderTextColor);
$popoverBackgroundColor: var(--popoverBackgroundColor);
$popoverTextColor: var(--popoverTextColor);

$headerLightShadowColor: var(--headerLightShadowColor);
$headerDarkShadowColor: var(--heaserDarkShadowColor);

$figureBackgroundColor: var(--figureBackgroundColor);
$figureCaptionColor: var(--figureCaptionColor);

$heroLogoColor: var(--heroLogoColor);
$landingPanelBackgroundColor: var(--landingPanelBackgroundColor);
$landingPanelBorderColor: var(--landingPanelBorderColor);
$landingPanelTextColor: var(--landingPanelTextColor);
$landingPanelShadowColor: var(--landingPanelShadowColor);
$landingPanelShadowHoverColor: var(--landingPanelShadowHoverColor);

$floatingButtonColor: var(--floatingButtonColor);
$floatingButtonHoverColor: var(--floatingButtonHoverColor);

$companyLogoBackgroundColor: var(--companyLogoBackgroundColor);
$companyLogoTaglineColor: var(--companyLogoTaglineColor);

$pillBackgroundColor: var(--pillBackgroundColor);
$pillTextColor: var(--pillTextColor);

$stickerBackgroundColor: var(--stickerBackgroundColor);
$stickerTextColor: var(--stickerTextColor);
$stickerBorderColor: var(--stickerBorderColor);
$stickerLinkColor: var(--stickerLinkColor);
$stickerLinkHoverColor: var(--stickerLinkHoverColor);
$stickerLinkDisabledColor: var(--stickerLinkDisabledColor);
$stickerLinkActiveColor: var(--stickerLinkActiveColor);

$bannerBackgroundColor: var(--bannerBackgroundColor);
$bannerTextColor: var(--bannerTextColor);
$bannerBorderColor: var(--bannerBorderColor);
$bannerLinkColor: var(--bannerLinkColor);
$bannerLinkHoverColor: var(--bannerLinkHoverColor);
$bannerLinkDisabledColor: var(--bannerLinkDisabledColor);
$bannerLinkActiveColor: var(--bannerLinkActiveColor);

$textWeight: var(--textWeight);
$linkWeight: var(--linkWeight);
$h1Weight: var(--h1Weight);
$h2Weight: var(--h2Weight);
$h3Weight: var(--h3Weight);
$h4Weight: var(--h4Weight);
$h5Weight: var(--h5Weight);
$h6Weight: var(--h6Weight);
$tableHeaderWeight: var(--tableHeaderWeight);
$boldTextWeight: var(--boldTextWeight);
$heroLeadWeight: var(--heroLeadTextWeight);
$blogAttributeWeight: var(--blogAttributeWeight);
$sectionIndexLinkWeight: var(--sextionIndexLinkWeight);
$buttonWeight: var(--buttonWeight);
$tocLinkWeight: var(--tocLinkWeight);
$sidebarLinkWeight: var(--sidebarLinkWeight);
$sidebarCurrentPageWeight: var(--sidebarCurrentPageWeight);
$glossaryHeaderWeight: var(--glossaryHeaderWeight);
$glossaryWordWeight: var(--glossaryWordWeight);
$figureCaptionWeight: var(--figureCaptionWeight);
$textCodeWeight: var(--textCodeWeight);
$faqQuestionWeight: var(--faqQuestionWeight);
