---
layout: landing
title: Istio
---
{% include home.html %}

<div class="hero">
    <div class="container">
        {% if site.data.istio.archive %}
            <h1 class="hero-label">Istio Archive {{site.data.istio.short_version}}</h1>
        {% else %}
            <h1 class="hero-label">Istio</h1>
        {% endif %}
        <img class="hero-logo" alt="Istio Logo" src="{{home}}/img/istio-logo.svg" />
        <h1 class="hero-lead">An open platform to connect, manage, and secure microservices</h1>
        <span onclick="getElementById('SCROLLME').scrollIntoView({block: 'start', inline: 'nearest', behavior: 'smooth'})" class="hero-down-arrow fa fa-2
        fa-caret-down"></span>
        <span id="SCROLLME"></span>
    </div>
</div>

<div class="container-fluid traffic color1">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5">
            <svg class="landing-image" data-name="expanded art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 900">
                <defs>
                    <style>
                        .cls-1, .cls-2, .cls-3, .cls-4 {
                            fill: none;
                            stroke-miterlimit: 10;
                        }

                        .cls-1 {
                            stroke: #000;
                        }

                        .cls-1, .cls-3, .cls-4 {
                            stroke-width: 10px;
                        }

                        .cls-2 {
//                            stroke: #fff;
                            stroke-width: 30px;
                        }

                        .cls-3 {
                            stroke: #64c489;
                        }

                        .cls-4 {
                            stroke: #476baf;
                        }

                        .cls-5 {
                            fill: #476baf;
                        }

                        .cls-6 {
                            fill: #64c489;
                        }
                    </style>
                </defs>
                <title>01.Intelligent Routing and Load Balancing</title>
                <g>
                    <g>
                        <circle cx="149.5" cy="149.5" r="50"/>
                        <circle cx="149.5" cy="750.5" r="50"/>
                        <polygon points="240 120 210 150 240 180 240 120"/>
                        <polygon points="240 720 210 750 240 780 240 720"/>
                    </g>
                    <g>
                        <path class="cls-1" d="M250,150c200,0,500,300,700,300"/>
                        <path class="cls-1" d="M250,750c200,0,499-300,700-300"/>
                        <line class="cls-1" x1="250" y1="750" x2="950" y2="750"/>
                        <line class="cls-1" x1="250" y1="150" x2="950" y2="150"/>
                    </g>
                </g>
                <g>
                    <g>
                        <g>
                            <path class="cls-2" d="M950,150c-200,0-500,300-700,300"/>
                            <path class="cls-2" d="M950,750c-200,0-499-300-700-300"/>
                            <line class="cls-2" x1="250" y1="450" x2="950" y2="450"/>
                        </g>
                        <g>
                            <line class="cls-3" x1="340" y1="450" x2="950" y2="450"/>
                            <path class="cls-4" d="M950,150c-200,0-500,300-700,300"/>
                            <path class="cls-4" d="M950,750c-200,0-499-300-700-300"/>
                        </g>
                    </g>
                    <g>
                        <circle class="cls-5" cx="149.5" cy="449.5" r="50"/>
                        <circle class="cls-5" cx="1050.5" cy="149.5" r="50"/>
                        <circle class="cls-5" cx="1050.5" cy="750.5" r="50"/>
                        <circle class="cls-6" cx="1050.5" cy="449.5" r="50"/>
                        <polygon class="cls-5" points="240 420 210 450 240 480 240 420"/>
                        <polygon class="cls-6" points="960 480 990 450 960 420 960 480"/>
                        <polygon class="cls-5" points="960 180 990 150 960 120 960 180"/>
                        <polygon class="cls-5" points="960 780 990 750 960 720 960 780"/>
                    </g>
                </g>
            </svg>

        </div>
        <div class="col-12 col-md-5 landing-text">
            <h2>Intelligent Routing and Load Balancing</h2>
            <p>
                Control traffic between services with dynamic route configuration,
                conduct A/B tests, release canaries, and gradually upgrade versions using red/black deployments.
                <a href="{{home}}/docs/concepts/traffic-management/overview.html">Learn more...</a>
            </p>
        </div>
    </div>
</div>

<div class="container-fluid resilience color2">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5">
            <svg class="landing-image" data-name="expanded art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 900">
                <defs>
                    <style>
                        .r-1, .r-3, .r-4 {
                            fill: none;
                            stroke-miterlimit: 10;
                            stroke-width: 10px;
                        }

                        .r-1 {
                            stroke: #000;
                        }

                        .r-2 {
                            fill: #476baf;
                        }

                        .r-3 {
                            stroke: #64c489;
                        }

                        .r-4 {
                            stroke: #476baf;
                        }
                    </style>
                </defs>
                <title>02.Resilience Across Languages and Platforms</title>
                <g>
                    <g>
                        <polygon points="100 277.57 100 320 142.43 320 100 277.57"/>
                        <polygon points="210 587.57 210 630 252.43 630 210 587.57"/>
                        <polygon points="890.5 329.07 890.5 371.5 932.93 371.5 890.5 329.07"/>
                    </g>
                    <path d="M100,795c84.32-10.77,165-40.47,241.15-77.37C476.51,652,603.47,561.86,751.25,525.42c117.73-29,287.93-22.63,349.46,102,2.07,4.19,3.6,8.49,5.42,12.77l-6.64,3.86c-36.75-34.34-82.24-55.82-131.45-65.17-53.63-10.2-108.94-7-162.24,3.64-50.57,10.12-99.64,26.81-147.29,46.36C574.75,663.27,494.88,706.24,411.75,742c-82,35.28-168.81,63.89-258.89,65.28A468,468,0,0,1,95,804.45v-8.86C96.67,795.4,98.33,795.19,100,795Z"/>
                </g>
                <g>
                    <path class="r-1" d="M100,650s57.21,62.93,150,93.6"/>
                    <g>
                        <line class="r-1" x1="129.95" y1="290.92" x2="320.87" y2="100"/>
                        <line class="r-1" x1="700" y1="141.13" x2="741.13" y2="100"/>
                        <line class="r-1" x1="240" y1="600" x2="590" y2="251.1"/>
                        <line class="r-1" x1="920" y1="340.13" x2="1100" y2="159.13"/>
                    </g>
                </g>
                <g>
                    <g>
                        <polygon class="r-2" points="560.21 510.56 682.41 461.91 630.82 237.77 560.21 510.56"/>
                        <polygon class="r-2" points="692.15 459.66 872.05 438.78 604.68 79.6 692.15 459.66"/>
                        <path class="r-2" d="M714.75,524.54c16.31-5,32.76-9.5,49.56-13.38l110-62.63L562.45,520.3l97,23.49C677.6,536.77,696,530.3,714.75,524.54Z"/>
                    </g>
                    <g>
                        <polygon class="r-2" points="296 282.57 296 325 338.43 325 296 282.57"/>
                        <polygon class="r-2" points="450.5 557.07 450.5 599.5 492.93 599.5 450.5 557.07"/>
                    </g>
                </g>
                <g>
                    <path class="r-3" d="M477,800c100-30,211-101.14,330-124,250-48,293,102,293,102"/>
                    <g>
                        <line class="r-3" x1="100.43" y1="520.43" x2="240.87" y2="380"/>
                        <line class="r-4" x1="325.5" y1="294.5" x2="520" y2="100"/>
                        <line class="r-3" x1="800.13" y1="249.13" x2="950.02" y2="100"/>
                        <line class="r-4" x1="481" y1="569" x2="520.33" y2="530.33"/>
                        <line class="r-4" x1="1004.63" y1="474.63" x2="1099.51" y2="379.51"/>
                    </g>
                </g>
            </svg>
        </div>
        <div class="col-12 col-md-5 order-md-first landing-text">
            <h2>Resilience Across Languages and Platforms</h2>
            <p>
                Increase reliability by shielding applications from flaky networks and cascading failures in adverse conditions.
                <a href="{{home}}/docs/concepts/traffic-management/handling-failures.html">Learn more...</a>
            </p>
        </div>
    </div>
</div>

<div class="container-fluid policy color1">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5">
            <svg class="landing-image" data-name="expanded art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 900">
                <defs>
                    <style>
                        .p-1 {
                            fill: none;
                            stroke: #000;
                            stroke-miterlimit: 10;
                            stroke-width: 10px;
                        }

                        .p-2 {
                            fill: #476baf;
                        }

                        .p-3 {
                            fill: #64c489;
                        }
                    </style>
                </defs>
                <title>04.Fleet-Wide Policy Enforcement</title>
                <polygon points="390 480 420 450 390 420 390 480"/>
                <line class="p-1" x1="380" y1="450" x2="100" y2="450"/>
                <path class="p-1" d="M380,580c-110,0-180,220-280,220"/>
                <polygon points="1070 480 1100 450 1070 420 1070 480"/>
                <line class="p-1" x1="790" y1="450" x2="1060" y2="450"/>
                <g>
                    <line class="p-1" x1="790" y1="320" x2="1060" y2="320"/>
                    <line class="p-1" x1="790" y1="580" x2="1060" y2="580"/>
                </g>
                <polygon points="1069 610 1099 580 1069 550 1069 610"/>
                <g>
                    <polygon points="390 610 420 580 390 550 390 610"/>
                    <polygon points="390 350 420 320 390 290 390 350"/>
                </g>
                <path class="p-1" d="M380,320c-110,0-180-219.46-280-219.46"/>
                <polygon points="1069.5 350 1099.5 320 1069.5 290 1069.5 350"/>
                <g>
                    <path d="M455.37,455v72.52c0,85.52,114.17,133,139.63,142.57V455Z"/>
                    <path class="p-2" d="M595,445V202.77L455.37,280V445Z"/>
                </g>
                <g>
                    <path d="M744.6,445c0-82.16-.1-165.19-.1-165.19L605,202.76V445Z"/>
                    <path class="p-3" d="M605,455V670.09c25.46-9.53,139.63-57.05,139.63-142.57v-.26c0-22,0-46.94,0-72.26Z"/>
                </g>
            </svg>
        </div>
        <div class="col-12 col-md-5 landing-text">
            <h2>Fleet-Wide Policy Enforcement</h2>
            <p>
                Apply organizational policy to the interaction between services, ensure access policies are enforced and resources are fairly distributed
                among consumers.
                <a href="{{home}}/docs/concepts/policy-and-control/mixer.html">Learn more...</a>
            </p>
        </div>
    </div>
</div>

<div class="container-fluid reporting color2">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5">
            <svg class="landing-image" id="expanded_art" data-name="expanded art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 900">
                <defs>
                    <style>
                        .m-1 {
                            fill: #476baf;
                        }

                        .m-2, .m-3, .m-4, .m-6 {
                            fill: none;
                            stroke-miterlimit: 10;
                        }

                        .m-2 {
                            stroke: #000;
                        }

                        .m-2, .m-4, .m-6 {
                            stroke-width: 10px;
                        }

                        .m-3 {
                            stroke-width: 30px;
                        }

                        .m-4 {
                            stroke: #64c489;
                        }

                        .m-5 {
                            fill: #64c489;
                        }

                        .m-6 {
                            stroke: #476baf;
                        }
                    </style>
                </defs>
                <title>03.In-Depth Telemetry and Reporting</title>
                <path class="m-1" d="M666.46,512.46c-105.09,105.1-221,171.4-299.72,208.52C314,745.86,261.91,765.12,214.26,777.75A202,202,0,0,0,254,747l1.46-1.45c85.64-80.87,146-107.14,222.5-140.39,52.38-22.79,112.8-49.07,194.31-98.42Q669.35,509.59,666.46,512.46Z"/>
                <path class="m-2" d="M1103,300c-280,0-183,120-513,186S340,800,100,800"/>
                <path class="m-2" d="M1103,160c-137,0-136.65,130.87-263,226C500,642,432,572,252,742"/>
                <path class="m-2" d="M250.49,743.49C216.2,777.16,172.84,800,100,800"/>
                <path class="m-2" d="M100,800c137,0,390-104,570-284s430-77,430-77"/>
                <path class="m-2" d="M474.34,668.6C695.34,535.6,817,439,1100,439"/>
                <g>
                    <line class="m-3" x1="830" y1="100" x2="830" y2="800"/>
                    <line class="m-4" x1="830" y1="100" x2="830" y2="800"/>
                </g>
                <g>
                    <g>
                        <ellipse cx="150" cy="148.55" rx="50" ry="50.47"/>
                        <polygon points="391.65 171.25 355.69 193.98 378.21 230.28 391.65 171.25"/>
                        <polygon points="215.97 289.64 179.56 267.66 157.79 304.41 215.97 289.64"/>
                    </g>
                    <g>
                        <circle class="m-5" cx="220" cy="430" r="50"/>
                        <circle class="m-1" cx="635" cy="256" r="50"/>
                        <polygon class="m-1" points="424.37 376.1 441.35 337.22 402.47 320.24 424.37 376.1"/>
                    </g>
                    <g>
                        <line class="m-6" x1="404.19" y1="352.78" x2="276.07" y2="406.49"/>
                        <line class="m-6" x1="578.89" y1="279.53" x2="448.03" y2="334.39"/>
                    </g>
                    <g>
                        <g>
                            <line class="m-2" x1="177.73" y1="260.9" x2="164.55" y2="208.2"/>
                            <line class="m-2" x1="205.37" y1="371.49" x2="189.22" y2="306.86"/>
                        </g>
                        <g>
                            <line class="m-2" x1="394.71" y1="203.48" x2="576.12" y2="243.13"/>
                            <line class="m-2" x1="208.7" y1="162.83" x2="347.94" y2="193.26"/>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class="col-12 col-md-5 order-md-first landing-text">
            <h2>In-Depth Telemetry and Reporting</h2>
            <p>
                Understand the dependencies between services, the nature and flow of traffic between them, and quickly identify issues with distributed tracing.
                <a href="{{home}}/docs/concepts/what-is-istio/overview.html">Learn more...</a>
            </p>
        </div>
    </div>
</div>

<div class="container-fluid call color1">
    <div class="row no-gutters">
        <div class="col-6">
            <h2>Want to learn more?</h2>
            <p>Get started by learning Istio concepts and running through our BookInfo sample.</p>
            <a href="{{home}}/docs"><button class="btn btn-istio">GET STARTED</button></a>
        </div>

        <div class="col-6">
            <h2>Ready to get started?</h2>
            <p>Download the latest bits.</p>
            <a href="https://github.com/istio/istio/releases"><button class="btn btn-istio">DOWNLOAD</button></a>
        </div>
    </div>
</div>

<style type="text/css">
    header .navbar {
        box-shadow: none;
    }

    body {
        padding-top: 2.8rem;

        @media (min-height: $bp-md-v) {
            padding-top: 5rem;
        }
    }
</style>
