[build]
    publish = "public"

[build.environment]
    HUGO_VERSION = "0.97.3"
    NODE_VERSION = "12.22.11"
    BUILD_WITH_CONTAINER = "0"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-XSS-Protection = "1; mode=block"
