{{ define "main" }}

    {{ partial "primary_top.html" . }}

    {{ $pages := .Pages }}

    <div class="panels case-studies">
        {{ range $pages }}
            {{ partial "case_study_panel.html" (dict "case_study" .Params "url" .RelPermalink) }}
        {{ end }}
    </div>

    <div class="cta-container">
        <a href="https://github.com/istio/istio.io/issues/new" class="btn">Share your story</a>
    </div>

    <h1>Also used by</h1>

    {{ partial "primary_bottom.html" . }}

{{ end }}