{% comment %}
Assigns the next_page_url, next_page_title, next_page_description, prev_page_url, prev_page_title, and prev_page_description variables the
URLs, titles and descriptions of the next and previous pages within the current collection, relative to the current page.
{% endcomment %}

{% comment %}
    Find the current page in the sorted set of blog posts we generated for the sidebar
{% endcomment %}

{% assign index = 0 %}
{% for u in urls %}
    {% if u == page.url %}
        {% assign index = forloop.index0 %}
        {% break %}
    {% endif %}
{% endfor %}

{% assign next_index = index %}
{% for i in (0..10) %}
    {% assign next_index = next_index | minus: 1 %}

    {% if next_index < 0 %}
        {% break %}
    {% endif

    {% assign YY = "THIS IS NEEDED, OTHERWISE THE URL ASSIGNMENT BELOW DOESN'T HAVE ANY EFFECT!" %}

    {% assign url = urls[next_index] %}
    {% assign components = url | split: "/" %}
    {% assign name = components | last %}

    {% if name != "index.html" %}
        {% assign next_page_url = urls[next_index] %}
        {% assign next_page_title = titles[next_index] %}
        {% assign next_page_description = descriptions[next_index] %}
        {% break %}
    {% endif %}
{% endfor %}

{% assign max = urls | size %}
{% assign prev_index = index %}
{% for i in (0..10) %}
    {% assign prev_index = prev_index | plus: 1 %}
    {% if prev_index >= max %}
        {% break %}
    {% endif

    {% assign YY = "THIS IS NEEDED, OTHERWISE THE URL ASSIGNMENT BELOW DOESN'T HAVE ANY EFFECT!" %}

    {% assign url = urls[prev_index] %}
    {% assign components = url | split: "/" %}
    {% assign name = components | last %}
    {% if name != "index.html" %}
        {% assign prev_page_url = urls[prev_index] %}
        {% assign prev_page_title = titles[prev_index] %}
        {% assign prev_page_description = descriptions[prev_index] %}
        {% break %}
    {% endif %}
{% endfor %}
