<ul class="doc-side-nav doc-side-nav-tasks">
    {% assign current = page.url | downcase | split: '/' %}
    <li><h5 class="doc-side-nav-title">Tasks</h5></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/tasks/istio-installation.html" {% if current[3] == 'istio-installation.html' %}class='current'{% endif %}>Installation</a></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl}}/docs/tasks/integrating-services-into-istio.html" {% if current[3] == 'integrating-services-into-istio.html'%}class='current'{% endif %}>Integrating Services into the Mesh</a></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl}}/docs/tasks/ingress-egress-envoy.html" {% if current[3] == 'ingress-egress-envoy.html'%}class='current'{% endif %}>Configuring Ingress/Egress with Envoy</a></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl}}/docs/tasks/resilience-features.html" {% if current[3] == 'resilience-features.html'%}class='current'{% endif %}>Adding Resilience Features</a></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl}}/docs/tasks/request-routing.html" {% if current[3] == 'request-routing.html'%}class='current'{% endif %}>Configuring Request Routing</a></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl}}/docs/tasks/fault-injection.html" {% if current[3] == 'fault-injection.html'%}class='current'{% endif %}>Fault Injection</a></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl}}/docs/tasks/istio-auth.html" {% if current[3] == 'istio-auth.html'%}class='current'{% endif %}>Enabling Istio-Auth</a></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl}}/docs/tasks/metrics-logs.html" {% if current[3] == 'metrics-logs.html'%}class='current'{% endif %}>Collecting Metrics and Logs</a></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl}}/docs/tasks/configuring-mixer.html" {% if current[3] == 'configuring-mixer.html'%}class='current'{% endif %}>Configuring Mixer</a></li>
</ul>
