<div class="container">
	<div class="row">
		<div class="col-md-11 nofloat center-block" style="margin-top: 3px;">
			<ul class="col-sm-10 nav nav-tabs">
				{% assign cats = site.docs | where:"index","true" | sort:"order" %}
				{% for cat in cats %}
					{% assign cat_path  = cat.url | downcase | split: '/' %}
					{% assign page_path = page.url | downcase | split: '/' %}
					{% assign cat_name = cat.title | default: "EMPTY" %}
					{% if cat_name != "EMPTY" %}
					<li role="presentation" {% if cat_path[2] == page_path[2] %}class='active'{% endif %}><a href="{{home}}{{ cat.url }}">{{ cat_name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			{% include search-box.html %}
			{% include contribute-links.html %}
		</div>
	</div>
</div>
