{% if include.max-width %}
{% assign max-width = include.max-width %}
{% else %}
{% assign max-width = "75%" %}
{% endif %}

{% if include.title %}
{% assign title = include.title %}
{% else %}
{% assign title = include.alt %}
{% endif %}

{% if include.caption %}
{% assign caption = include.caption %}
{% else %}
{% assign caption = title %}
{% endif %}

<figure style="text-align: center; margin-top:20px; margin-bottom:20px;">
    <img src="{{include.file}}" style="max-width: {{max-width}};" title="{{title}}" alt="{{include.alt}}"/>
    <figcaption style="margin-top:10px;">{{caption}}</figcaption>
</figure>
