<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-3 col-sm-4 col-xs-12 center-block">
                <div class="header">
                    <a href="{{home}}/docs">Docs</a>
                </div>

                <ul>
		            <li><a href="{{home}}/docs/concepts">Concepts</a></li>
                    <li><a href="{{home}}/docs/setup">Setup</a></li>
                    <li><a href="{{home}}/docs/tasks">Tasks</a></li>
                    <li><a href="{{home}}/docs/guides">Guides</a></li>
                    <li><a href="{{home}}/docs/reference">Reference</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12 center-block">
                <div class="header">
                  <a href="{{home}}/help">Help</a>
                </div>

                <ul>
                    <li><a href="{{home}}/faq">FAQ</a></li>
                    <li><a href="{{home}}/glossary">Glossary</a></li>
                    <li><a href="{{home}}/troubleshooting">Troubleshooting</a></li>
                    <li><a href="{{home}}/bugs">Report Bugs</a></li>
                    <li><a href="https://github.com/istio/istio.github.io/issues/new?title=Issue with {{page.path}}">Doc Bugs & Gaps</a></li>
                    <li><a href="https://github.com/istio/istio.github.io/edit/master/{{page.path}}">Edit This Page</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12 center-block">
                <div class="header">
                  <a href="{{home}}/community">Community</a>
                </div>

                <ul>
                    <li>
                        <a href="https://groups.google.com/forum/#!forum/istio-users" target="_blank"><span class="list">User</span></a> |
                        <a href="https://groups.google.com/forum/#!forum/istio-dev" target="_blank">Dev Mailing Lists</a>
                    </li>
                    <li><a href="https://twitter.com/IstioMesh" target="_blank"><span class="twitter">Twitter</span></a></li>
                    <li><a href="https://stackoverflow.com/questions/tagged/istio" target="_blank"><span class="stack-overflow">Stack Overflow</span></a></li>
                    <li><a href="https://github.com/istio/community" target="_blank"><span class="github">GitHub</span></a></li>
                    <li><a href="https://github.com/istio/community/blob/master/WORKING-GROUPS.md" target="_blank"><span class="group">Working Groups</span></a></li>
                </ul>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <p class="description small text-center">
                Istio Version {{site.data.istio.version}}, Copyright &copy; 2017 Istio Authors<br>
                This site was built on {{site.time | date_to_string | split: ' ' | join: '-'}}
            </p>
        </div>
    </div>
</footer>
