<div class="glossary">
    {% assign words = include.glossary | sort: "title" %}

    <div class="trampolines">
        {% assign previous = "-" %}
        {% for w in words %}
            {% assign first = w.title | slice: 0 | upcase %}
            {% if first != previous %}
                {% if previous != "-" %}|{% endif %}
                <a href="#{{first}}">{{first}}</a>
                {% assign previous = first %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="entries">
        {% assign previous = "-" %}
        {% for w in words %}
            {% assign first = w.title | slice: 0 | upcase %}
            {% if first != previous %}
                {% if previous != "-" %}
                    </dl>
                {% endif %}
                <h4 id="{{first}}">{{first}}</h4>
                <dl>
                {% assign previous = first %}
            {% endif %}

            {% assign name = w.path | downcase | split: '/' | last | remove: ".md" %}
            <dt id="{{name}}">{{w.title}}</dt>
            <dd role="definition" aria-labelledby="{{name}}">{{w.content}}</dd>
        {% endfor %}
        </dl>
    </div>
</div>
