{% comment %}
Purpose:
    Inserts a figure into a page. The user of this template specifies the
    relative width of the figure in percentage, and an aspect ratio value in
    lieu of the Y coordinate. Through CSS trickery, these two values let us
    calculate the actual width and height of the image at render time in such
    a way that it avoids the typical 'shifting text' problem as images are
    loaded asynchronously.

Usage:
    {% include image.html width="<NN>%" ratio="<NN>%"
        link="<path to image file>"
        alt="<text to display when the image is not available>"
        title="<text to display when hovering over the image>"
        caption="<text to display below the image>"
    %}
{% endcomment %}

{% assign caption = include.caption %}

{% assign title = include.title %}
{% if title == nil %}"
    {% assign title = caption %}
{% endif %}

{% assign alt = include.alt %}
{% if alt == nil %}
    {% assign alt = title %}
{% endif %}

<figure style="width: {{include.width}}">
    <div class="wrapper-with-intrinsic-ratio" style="padding-bottom: {{include.ratio}}">
        <a class="not-for-endnotes" href="{{include.link}}">
            <img class="element-to-stretch" src="{{include.link}}" alt="{{alt}}" title="{{title}}" />
        </a>
    </div>
    <figcaption>{{caption}}</figcaption>
</figure>
