{% comment %}
Assigns the latest_blog_post variable the URL of the latest blog post on the site
{% endcomment %}

{% include home.html %}
{% assign latest_year = "0" %}

{% assign sorted = site.blog | sort: "order" %}
{% for d in sorted %}
  {% if d.draft == true %}
    {% continue %}
  {% endif %}

  {% assign path_components = d.path | downcase | split: '/' %}
  {% assign last = path_components | last %}
  {% if last == "index.html" or last == "index.md" %}
    {% continue %}
  {% endif %}

  {% assign year = path_components[1] %}
  {% if year > latest_year %}
    {% assign latest_year = year %}
    {% assign latest_blog_post = home | append: d.url %}
  {% endif %}
{% endfor %}
