{% assign current = page.url | downcase | split: '/' %}

{% if page.url == "/true-index.html" or page.url == "/index.html" or page.url == "/" %}
<style type="text/css">
  /* hides the logo in the topleft on the landing page */
  .navbar-header .navbar-brand{
    display:none !important;
  }
</style>
{% endif %}

<nav id="header-nav" class="navbar navbar-inverse" role="navigation">
  <div class="container">
      <div class="row">
        <div class="col-md-11 nofloat center-block ">

          <div class="navbar-header">
            <button type="button" class="hamburger navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{home}}/">
              <div>
                <img src="{{home}}/img/logo.png" alt="Istio" width="36px" height="54px"/>
                {% if site.data.istio.archive %}
                  <span class="brand-name">Istioldie {{site.data.istio.version}}</span>
                {% else %}
                  <span class="brand-name">Istio</span>
                {% endif %}
              </div>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{home}}/about/" {% if current[1] == 'about' %}class='current'{% endif %}>About</a></li>
              <li><a href="{{home}}/docs/" {% if current[1] == 'docs' %}class='current'{% endif %}>Docs</a></li>
              <li><a href="{{home}}/blog/" {% if current[1] == 'blog' %}class='current'{% endif %}>Blog</a></li>
              <li><a href="{{home}}/community/" {% if current[1] == 'community' %}class='current'{% endif %}>Community</a></li>
              <li><a href="{{home}}/faq/" {% if current[1] == 'faq' %}class='current'{% endif %}>FAQ</a></li>

              {% if site.data.istio.archive %}
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="">
                          <i class='fa fa-lg fa-cog'></i>
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <h6 class="dropdown-header">Other versions of this site</h6>

                          <li>
                              <a href="https://istio.io">Current Release</a>
                          </li>
                          <li>
                              <a href="https://preliminary.istio.io">Next Release</a>
                          </li>
                          <li>
                              <a href="https://archive.istio.io">Older Releases</a>
                          </li>
                      </ul>
                  </li>
              {% endif %}

              <li>{% include search-box.html %}</li>
            </ul>
          </div>

        </div>
      </div>
  </div>
</nav>
