{% assign current = page.url | downcase | split: '/' %}

{% if page.url == "/true-index.html" or page.url == "/index.html" or page.url == "/" %}
<style type="text/css">
  /* hides the logo in the topleft on the landing page */
  .navbar-header .navbar-brand{
    display:none !important;
  }
</style>
{% endif %}

<nav id="header-nav" class="navbar navbar-inverse" role="navigation">
  <div class="container">
      <div class="row">
        <div class="col-md-11 nofloat center-block ">

          <div class="navbar-header">
            <button type="button" class="hamburger navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{home}}/">
              <div>
                <img src="{{home}}/img/istio-logo-and-name-horizontal.svg" alt="Istio Logo and Name" height="54px"/>
              </div>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{home}}/about" {% if current[1] == 'about' %}class='current'{% endif %}>About</a></li>
              <li><a href="{{home}}/blog" {% if current[1] == 'blog' %}class='current'{% endif %}>Blog</a></li>
              <li><a href="{{home}}/docs" {% if current[1] == 'docs' %}class='current'{% endif %}>Docs</a></li>
              <li><a href="{{home}}/help" {% if current[1] == 'help' %}class='current'{% endif %}>Help</a></li>
              <li><a href="{{home}}/community" {% if current[1] == 'community' %}class='current'{% endif %}>Community</a></li>
              <li>{% include search-box.html %}</li>
            </ul>
          </div>

        </div>
      </div>
  </div>
</nav>
