{% comment %}
Purpose:
    Generates the main section of common site pages.

Usage:
    {% include primary.html collection='<doc collection>' singlecard='true|false' bloghack='true|false' %}

    Parameters:
    * collection (collection) - the document collection containing the docs to index
    * singlecard (boolean) - an optional boolean indicating whether the whole sidecar should be in a single card
    * bloghack (boolean) - an optional boolean indicating to do special treatment for blogs
{% endcomment %}

{% include home.html %}

<div class="container-fluid">
    <div class="row row-offcanvas">
        <div class="col-0 col-md-3 col-xl-2 sidebar-offcanvas">
            {% include sidebar.html collection=include.collection bloghack=include.bloghack singlecard=include.singlecard %}
        </div>

        {% assign needTOC = true %}
        {% if page.toc == false %}
            {% assign needTOC = false %}
        {% else %}
            {% include toc.html html=content sanitize=true h_min=2 h_max=4 %}
            {% if emptyTOC %}
                {% assign needTOC = false %}
            {% endif %}
        {% endif %}

        {% if needTOC and page.force_inline_toc != true %}
            <div class="col-12 col-md-9 col-xl-8">
        {% else %}
            <div class="col-12 col-md-9 col-xl-10">
        {% endif %}
            <p class="d-md-none">
                <label class="sidebar-toggler" data-toggle="offcanvas">
                    <i class="fa fa-sign-out-alt"></i>
                </label>
            </p>

            <main aria-labelledby="title">
                <h1 id="title">{{page.title}}</h1>

                {% if page.subtitle != nil %}
                    <p class="subtitle">{{page.subtitle}}</p>
                {% endif %}

                {% if page.attribution != nil or page.publishdate != nil %}
                    <p class="byline">
                        {% if page.attribution != nil %}
                            By <span class="attribution">{{page.attribution}}</span> /
                        {% endif %}
                        <span class="publish_date">{{page.publishdate | date: "%B %e, %Y"}}</span>
                    </p>
                {% endif %}

                {% if needTOC %}
                    <nav class="toc-inlined d-xl-none d-print-none" {% if page.force_inline_toc %}style="display:block!important" {% endif %}>
                        <div class="directory" role="directory">
                            {{ toc }}
                        </div>
                    </nav>
                {% endif %}

                {{content}}
            </main>

            {% include collection_nav.html %}

            <div class="container-fluid d-print-none">
                <br/><hr/><br/>

                <div class="row">
                    <div class="col-6">
                        {% if next_page_url %}
                            <a title="{{next_page_description}}" href="{{home}}{{next_page_url}}"><i class="fa fa-arrow-left"></i> {{next_page_title}}</a>
                        {% endif %}
                    </div>
                    <div class="col-6" style="text-align: right">
                        {% if prev_page_url %}
                            <a title="{{prev_page_description}}" href="{{home}}{{prev_page_url}}">{{prev_page_title}} <i class="fa fa-arrow-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="d-none d-print-block" aria-hidden="true">
                <h2>Links</h2>
                <ol id="endnotes"></ol>
            </div>
        </div>

        {% if needTOC and page.force_inline_toc != true %}
            <div class="col-12 col-md-2 d-none d-xl-block d-print-none">
                <nav class="toc">
                    <div class="spacer"></div>
                    <div id="toc" class="directory" role="directory">
                        {{ toc }}
                    </div>
                </nav>
            </div>
        {% endif %}
    </div>
</div>
