<form name="cse" id="searchbox_demo" class="navbar-form navbar-right" role="search">
	<input type="hidden" name="cx" value="013699703217164175118:veyyqmfmpj4" />
	<input type="hidden" name="ie" value="utf-8" />
	<input type="hidden" name="hl" value="en" />
	<div class="form-group">
		<input name="q" class="form-control" type="text" size="30" />
	</div>
	<span class="btn-search glyphicon glyphicon-search"></span>
</form>
<script type="text/javascript" src="https://www.google.com/cse/brand?form=searchbox_demo"></script>
