{% comment %}
Purpose:
    Generates a section index providing access to all nested docs.

Usage:
    {% include section-index.html docs='<doc collection>' %}

Parameters:
    * docs     (collection) - the document collection containing the docs to index
{% endcomment %}

{% include home.html %}
{% assign components = page.url | split: '/' %}
{% for comp in components %}
    {% if forloop.last %}
        {% break %}
    {% endif %}

    {% assign prefix = prefix | append: comp | append: "/" %}
{% endfor %}

{% include sort-hierarchy.html docs=include.docs prefix=prefix %}

<p>{{page.description}}</p>

{% assign pageComponents = page.url | split: "/" %}

<div class="section-index">
<ul>

{% assign pageDepth = pageComponents | size %}
{% assign depth = pageDepth %}
{% for url in urls %}
    {% if forloop.first %}
        {% continue %}
    {% endif %}

    {% assign title = titles[forloop.index0] %}
    {% assign description = descriptions[forloop.index0] %}

    {% assign components = url | split: "/" %}
    {% assign numComponents = components | size %}
    {% assign name = components | last %}

    {% if name == "index.html" %}
        {% for i in (numComponents..depth) %}
            </ul></li>
        {% endfor %}

        <li class="directory">
            <span title="{{description}}">{{title}}</span>
            <ul>

    {% else %}
        {% assign end = depth | minus: 1 %}
        {% for i in (numComponents..end) %}
            </ul></li>
        {% endfor %}
        <li class="file">
            <a href="{{home}}{{url}}">{{title}}</a>. {{ description }}
        </li>
    {% endif %}
    {% assign depth = numComponents %}
{% endfor %}

{% assign end = depth | minus: 1 %}
{% for i in (pageDepth..end) %}
    </ul></li>
{% endfor %}

</ul>
</div>
