.btn, .btn-flat {

  &:focus {
    outline: 0 !important;
  }

  &.btn-istio {
    background-color: $secondBrandColor;
    color: $white;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 4px;

    a {
      color: $white;
    }

    // Inverse Colored Button
    &.inverse {
      background-color: transparent;
      border: 2px solid $mainBrandColor;
      border-radius: 4px;
      color: $mainBrandColor;
    }

    &.btn-istio:hover {
        background-color: $popBrandColor;
    }

    // Hero Button
    &.btn-hero {
      background-color: $white;
      border: 2px solid $secondBrandColor;
      border-radius: 4px;
      color: $secondBrandColor;
      font-weight: 500;
      font-size: $font-size--primary;
    }
  }

  // Floating Action Button
  &.btn-floating {
    background-color: $white;
    height: 30px;
    width: 30px;
    z-index: $z-top;

    @media (min-width: $tablet) {
      height: 50px;
      width: 50px;
    }

    &:hover,
    &:focus {
      background-color: $white;
    }

    &.down-caret {
      bottom: -15px;
      left: 50%;
      padding: 0;
      position: absolute;
      transform: translateX(-50%);

      @media (min-width: $tablet) {
        bottom: -25px;
      }
    }
  }
}

// Link Button
.btn-link {
  display: inline-block;
  cursor: pointer;
}

.icon-caret {
  background: url('../img/caret.svg') no-repeat center/cover;
  height: 20px;
  margin: 3px auto 0;
  width: 24px;

  @media (min-width: $tablet) {
    height: 45px;
    width: 45px;
  }
}
