.btn {
    &.btn-istio {
        background-color: $secondBrandColor;
        color: $white;
        font-weight: 400;
        letter-spacing: 1px;
        cursor: pointer;

        &:hover {
            background-color: $mainBrandColor;
        }

        &:active {
            background-color: $popBrandColor;
        }
    }
}
