.contribute-links {
  font-weight: 300;
  padding-top: 15px;

  i {
    padding-right: 5px;
  }

  @media (min-width: $tablet) {
    display: initial;
  }

  a {
    &::after {
      content: none;
      display: none;
    }

    &:hover {
      color: $popBrandColor;
    }
  }
}
