.contribute-links {
  position: absolute;
  right: 10px;
  top: 3px;
  display: none;
  font-weight: 300;

  @media (min-width: $tablet) {
    display: initial;
  }

  a {
    &::after {
      content: none;
      display: none;
    }

    &:before {
      content: '';
      display: inline-block;
      background: url('../img/pencil.png') no-repeat center/cover;
      background-color: $mainBrandColor;
      width: 30px;
      height: 30px;
      vertical-align: middle;
      border-radius: 4px;
    }

    &:hover {
      &:before {
         background-color: $thirdBrandColor;
      }
    }
  }
}
