// Bootstrap override - looks like this is missing?
.nav-tabs>li.active>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
	border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
}
