.faq {
    .card {
        border-color: $boxBorderColor;
        margin-bottom: 2em;
        border-radius: 4px;
    }

    .card-header {
        color: $textBrandColor;
        background-color: $boxBorderColor;
    }
}
