footer {
  background-image: linear-gradient(to right, $mainBrandColor, $secondBrandColor);
  box-shadow: 0px 500px 0px 500px $footerColor;
  color: $white;
  overflow: hidden;
  padding: 25px 0 30px 0;
  position: relative;

  @media (max-width: 767px) {
    padding: 15px 0 20px;
    text-align: center;

    ul {
      padding-top: 20px;
      &.active li {
        display: initial;
      }
    }
  }

  li {
    line-height: 1.1em;
  }

  a {
    color: $white;
    font-weight: 300;
    font-size: .8em;
    padding: 0px;
    letter-spacing: .5px;
    line-height: 1.1em;

    &:hover {
      text-decoration: underline;
      color: $white;
    }

    &::after {
      display: none;
    }
  }

  a.header {
    font-weight: 400;
    font-size: 1.1em;
    padding: 10px 0 0px;
    position: relative;
    letter-spacing: .5px;
    line-height: 2.0em;

    @media (max-width: 767px) {
    }
  }

  .active {
    display: initial;
  }

  .description {
    padding-top: 20px;
    color: $light-gray;
    line-height: 1.6em;
    font-size: 0.7em;
  }
}
