div.footer {
    padding-top: 4em;

    footer {
        background-image: linear-gradient(to right, $mainBrandColor, $secondBrandColor);
        color: $white;
        padding: 1.5rem 0 1rem 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $footerHeight;

        @media (max-width: $bp-sm) {
            height: $footerHeight-xs;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            line-height: 1.1em;
        }

        @media (max-width: $bp-sm) {
            padding: 1rem 0 1.5rem;
            text-align: center;

            ul {
                padding-top: 1.5rem;
            }

            ul.first {
                padding-top: 0;
            }
        }

        a {
            color: $white;
            font-weight: 300;
            font-size: .8em;
            padding: 0;
            letter-spacing: .5px;
            line-height: 1.1em;

            &:hover {
                text-decoration: underline;
                color: $white;
            }
        }

        a.header {
            font-weight: 400;
            font-size: 1.1em;
            letter-spacing: .5px;
            line-height: 2.0em;
        }

        p.description {
            padding-top: 2em;
            color: $light-gray;
            line-height: 1.6em;
            font-size: 0.7em;
        }
    }
}
