header {
    .navbar {
        background-image: linear-gradient(to right, $mainBrandColor, $secondBrandColor);
        box-shadow: 0 0 2px 2px $headerLightShadowColor, 0 2px 4px 2px $headerDarkShadowColor;
        padding-top: .2em;
        padding-bottom: .2em;

        @media (min-height: $bp-md-v) and (min-width: $bp-md) {
            padding-top: .5em;
            padding-bottom: .5em;
        }

        .logo {
            width: .8em;
            height: 1.2em;

            @media (min-height: $bp-md-v) and (min-width: $bp-md) {
                width: 2em;
                height: 3em;
            }
        }

        .brand-name {
            color: $textBrandColor;
            font-size: 1em;
            font-weight: 400;
            vertical-align: bottom;
            line-height: 1.1em;
            margin-left: .7em;

            @media (min-height: $bp-md-v) and (min-width: $bp-md) {
                font-size: 1.7em;
                line-height: 1.5em;
                font-family: "Verdana";
            }
        }

        a {
            font-weight: 500;
        }

        a.active {
            border-bottom: solid 3px $textBrandColor;
            border-radius: 2px;
        }

        a.nav-link {
            color: $textBrandColor;

            &:hover {
                color: #de7d40;
            }
        }

        .dropdown-menu {
            padding: 0;
            background-color: $backgroundColor;
            border-color: $boxBorderColor;

            a {
                font-weight: $linkWeight;
            }

            i {
                color: $textColor;
            }
        }

        #searchbox {
            margin-left: 1.5em;
        }

        .btn-search {
            color: #aaa;
            background: $searchButtonColor;
            padding-left: .7em;
            font-size: .8em;
            vertical-align: middle;
            width: 1.8em;

            @media (min-height: $bp-md-v) and (min-width: $bp-md) {
                font-size: 1.2em;
                width: 2.7em;
            }
        }
    }

    .navbar-dark .navbar-nav .nav-link {
        color: $textBrandColor;

        &:hover {
            color: #de7d40;
        }

        &:active {
            color: #de7d40;
        }
    }

    .navbar-dark .navbar-nav .nav-link.active {
        color: $textBrandColor;
        cursor: default;

        &:hover {
            color: $textBrandColor;
        }

        &:active {
            color: $textBrandColor;
        }
    }
}

body.theme-dark {
    i.dark {
        visibility: visible;
    }

    i.light {
        visibility: hidden;
    }
}

body.theme-light {
    i.dark {
        visibility: hidden;
    }

    i.light {
        visibility: visible;
    }
}