// Background for nav and hero
.nav-hero-container {
  background: $mainBrandColor linear-gradient(to right, $mainBrandColor, $secondBrandColor) no-repeat center/cover;
  z-index: 9010;
  position: relative;
}

// Landing page hero
.hero {
  position: relative;
  text-align: center;

  .logo {
    margin-bottom: $spacing--l;
  }

  .hero-lead {
    color: $white;
    display: block;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: $spacing--l;
    font-weight: 200;
  }
}
