.section-index {

    li.directory {
        margin: 0px;
        padding: 0px;
        margin-top: 15px;
        margin-left: 0px;
        font-size: 15px;
    }

    li.file {
        margin: 0px;
        padding: 0px;
        margin-top: 10px;
        list-style: none;
        font-size: 14px;
    }

    a {
        font-weight: 400;
    }
}
