.toc {
    order: 0;

    @supports ((position:-webkit-sticky) or (position:sticky)) {
        position: -webkit-sticky;
        position: sticky;
        top: $headerHeight;
        z-index: 1000;
    }

    .directory {
        border-left: 1px solid $dividerBarColor;
        padding-left: .5em;

        @supports ((position:-webkit-sticky) or (position:sticky)) {
            max-height: calc(100vh - 9rem);
        }

        @media (min-width: 1200px) {
            max-width: 25em;
        }

        @media (min-width: 768px) {
            @supports ((position:-webkit-sticky) or (position:sticky)) {
                max-height: calc(100vh - 9rem);
                overflow-y: auto;
            }
        }

        @media (min-width: 768px) {
            display: block !important;
        }

        li {
            font-size: .9rem;
        }

        ul {
            list-style-type: none !important;
            padding-left: 0;
            padding-bottom: 0;
            margin: 0;

            ul {
                padding-left: 1em;
            }

            a {
                font-weight: normal;
            }
        }
    }
}
