.about {
  p {
    font-size: .9rem;
  }

  p.lead {
    font-size: 17px;
    margin-bottom: $spacing--xxl;
  }

  // Slick overrides
  .slick-next,
  .slick-prev {
    top: 35%;
  }

  .slick-prev {
    &.active {
      display: block;
    }
  }

  .slick-next {
    &:before {
      background: url('../img/more-arrow.png') no-repeat center/cover;
      content: '';
      display: inline-block;
      height: 25px;
      vertical-align: bottom;
      width: 25px;
    }
  }

  .slick-prev {
    opacity: 0;
    pointer-events: none;

    &:before {
      background: url('../img/more-arrow.png') no-repeat center/cover;
      content: '';
      display: inline-block;
      height: 25px;
      vertical-align: bottom;
      width: 25px;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }

    &.active {
      opacity: 1;
      pointer-events: all;
      transition: 500ms linear;
      -webkit-transition: 500ms linear;
      -moz-transition: 500ms linear;
      -ms-transition: 500ms linear;
      -o-transition: 500ms linear;
    }
  }

  .slick-dots {
    & li.slick-active button:before {
      color: $mainBrandColor;
      opacity: 1;
    }

    & li button:before {
      font-size: 12px;
    }

    & li {
      margin: 0;
    }
  }
}
