.faq {
    padding-bottom: 150px;

    h1 {
        color: $mainBrandColor;
        padding-left: 20px;
    }

    h4 {
        font-size: 110%;
        padding-left: 20px;
    }

    p {
        padding-left: 30px;
    }
}
