.faq {
    h1 {
        color: $mainBrandColor;
    }

    h4 {
        font-size: 110%;
    }

    p {
        padding-left: 20px;
    }

    ul {
        padding-left: 30px;
    }

    ul p {
        padding-left: 0px;
    }
}
