{{ define "main" }}
{{ partial "primary_top.html" . }}
{{ .Content }}

{{- $home := .Site.GetPage "home" -}}
{{- $lang := $home.Lang -}}
{{- if eq $lang "en" -}}
    {{- $lang = "" -}}
{{- else -}}
    {{- $lang = "/zh" -}}
{{- end -}}

{{ $release_name := path.Base .Dir }}
{{ $parts := split $release_name "." }}

{{ $version := $release_name }}
{{ $full_version := printf "%s.0" $release_name }}
{{ $old_full_version := $full_version }}
{{ $patch := false }}

{{ if ne (len $parts) 2 }}
    {{ $version = printf "%s.%s" (index $parts 0) (index $parts 1) }}
    {{ $full_version = printf "%s.%s.%s" (index $parts 0) (index $parts 1) (index $parts 2) }}
    {{ $old_full_version = printf "%s.%s.%d" (index $parts 0) (index $parts 1) (sub (int (index $parts 2)) 1) }}
    {{ $patch = true }}
{{ end }}

{{ $first := index .Site.Data.releases 0 }}
{{ $second := index .Site.Data.releases 1 }}

{{ $type_of_note := "current" }}
{{ if eq $version $first.name }}
    {{ $type_of_note = "prelim" }}
{{ else if eq $version $second.name }}
    {{ $type_of_note = "current" }}
{{ else }}
    {{ $type_of_note = "archive" }}
{{ end }}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        window.setTimeout(() => {
            document.querySelectorAll(".call-to-action").forEach(el => {
                el.style.opacity = "1";
            });
        }, 250);
    });
</script>

{{/* latest patch for the given short version */}}

{{ $latest_patch := $full_version }}
{{ range $rel_info := .Site.Data.releases }}
    {{ if eq $rel_info.name $version }}
        {{ if $rel_info.latest_patch }}
            {{ $latest_patch = $rel_info.latest_patch }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if ne $latest_patch $full_version }}
    <aside class="callout warning">
        <div class="type">
            {{ partial "large_icon.html" "callout-warning" }}
        </div>
        <div class="content">
            {{ printf (i18n "relnote_update_advice") $release_name }}
            <br/><br>
            <a class="btn" href="{{ $lang }}/about/notes/{{ $latest_patch }}">{{ printf (i18n "relnote_update_button") $latest_patch }}</a>
        </div>
    </aside>
{{ end }}

<div class="call-to-action">
    {{ if .Site.Data.args.preliminary }}
        {{ if eq $type_of_note "prelim" }}
            <span class="btn">{{ printf (i18n "relnote_download") $release_name }}</span>

            {{ if eq $type_of_note "archive" }}
                <span class="btn">{{ printf (i18n "relnote_docs") $release_name }}</span>
            {{ else }}
                <span class="btn">{{ printf (i18n "relnote_docs") $release_name }}</span>
            {{ end }}

            {{ if $patch }}
                <span class="btn">{{ printf (i18n "relnote_changes") $release_name }}</span>
            {{ end }}
        {{ else }}
            <a class="btn" href="https://github.com/istio/istio/releases/tag/{{ $full_version }}">{{ printf (i18n "relnote_download") $release_name }}</a>

            {{ if eq $type_of_note "archive" }}
                <a class="btn" href="https://archive.istio.io/v{{ $version }}">{{ printf (i18n "relnote_docs") $release_name }}</a>
            {{ else }}
                <a class="btn" href="https://istio.io{{ $lang }}/docs">{{ printf (i18n "relnote_docs") $release_name }}</a>
            {{ end }}

            {{ if $patch }}
                <a class="btn" href="https://github.com/istio/istio/compare/{{ $old_full_version }}...{{ $full_version }}">{{ printf (i18n "relnote_changes") $release_name }}</a>
            {{ end }}
        {{ end }}
    {{ else }}
        <a class="btn" href="https://github.com/istio/istio/releases/tag/{{ $full_version }}">{{ printf (i18n "relnote_download") $release_name }}</a>

        {{ if (ne .Site.Data.args.version $version) }}
            <a class="btn" href="https://archive.istio.io/v{{ $version }}{{ $lang }}/docs">{{ printf (i18n "relnote_docs") $release_name }}</a>
        {{ else }}
            <a class="btn" href="https://istio.io{{ $lang }}/docs">{{ printf (i18n "relnote_docs") $release_name }}</a>
        {{ end }}

        {{ if $patch }}
            <a class="btn" href="https://github.com/istio/istio/compare/{{ $old_full_version }}...{{ $full_version }}">{{ printf (i18n "relnote_changes") $release_name }}</a>
        {{ end }}
    {{ end }}
</div>

{{- $bundle := .Page.GetPage "/boilerplates" -}}
{{- with $bundle -}}
    {{- $name := printf "notes/%v.md*" $release_name -}}
    {{- $resource := $bundle.Resources.GetMatch $name -}}
    {{- with $resource -}}
        {{- .Content | markdownify -}}
    {{- else -}}
        {{- errorf "Could not find release note boilerplate for %v" $version -}}
    {{- end -}}
{{- else -}}
    {{- errorf "Could not find release note boilerplate for %v" $version -}}
{{- end -}}

{{ partial "primary_bottom.html" . }}
{{ end }}
