{{ define "main" }}

{{ partial "primary_top.html" . }}

<div class="search-results">
    <div id="search-controls">
        {{ $languages := .Site.Data.args.supported_languages }}
        {{ $versions := .Site.Data.versions.supported_versions }}

        <label for="lang-filter">Language:</label>
        <select id="lang-filter">
            {{ range $languages }}
                <option value="{{ .code }}">{{ .name }}</option>
            {{ end }}
        </select>

        <label for="version-filter">Version:</label>
        <select id="version-filter">
            {{ range $versions }}
                <option value="{{ .version }}">{{ .version }}</option>
            {{ end }}
        </select>
    </div>


    <div id="search-query-header"></div>
    <div id="search-results">Loading results...</div>
    <div id="pagination-controls">
        <div><button id="prev-page" class="btn" disabled>Previous</button></div>
        <span id="page-info"></span>
        <div><button id="next-page" class="btn" disabled>Next</button></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>

{{ .Content }}

{{ partial "primary_bottom.html" . }}

{{ end }}