{{ $home := .Site.GetPage "home" }}

<footer class="footer">
    <div class="footer-wrapper container-l">
        <div class="user-links footer-links">
            <a class="channel" title='{{ i18n "github_desc" }}' href="https://github.com/istio/community" aria-label="GitHub">
                {{ partial "icon.html" "github" }}
            </a>

            <a class="channel" title='{{ i18n "team_drive_desc" }}' href="https://groups.google.com/forum/#!forum/istio-team-drive-access" aria-label="team drive">
                {{ partial "icon.html" "drive" }}
            </a>

            <a class="channel" title='{{ i18n "slack_desc" }}' href="https://slack.istio.io" aria-label="slack">
                {{ partial "icon.html" "slack" }}
            </a>

            <a class="channel" title='{{ i18n "stackoverflow_desc" }}' href="https://stackoverflow.com/questions/tagged/istio" aria-label="Stack Overflow">
                {{ partial "icon.html" "stackoverflow" }}
            </a>

            <a class="channel" title='{{ i18n "twitter_desc" }}' href="https://twitter.com/IstioMesh" aria-label="Twitter">
                {{ partial "icon.html" "twitter" }}
            </a>
        </div>

        <hr class="footer-separator" role="separator"/>

        <div class="info footer-info">
            <a class="logo" href="{{ $home.Permalink }}" aria-label="logotype">
                {{ with resources.Get "inline_images/istio-logo-with-brand.svg" }}{{ .Content | safeHTML }}{{ end }}
            </a>

            <div class="footer-languages">
                {{ $currentLanguage := $home.Lang }}
                {{ $supportedLanguages := .Site.Data.args.supported_languages }}

                {{ range $supportedLanguages}}
                    {{ $active := eq $currentLanguage .code }}
                    <a tabindex="-1" lang="{{.code}}" id="switch-lang-{{.code}}" class="footer-languages-item {{ if $active }}active{{ end }}">
                        {{ if $active }}{{ partial "icon.html" "tick" }}{{ end }}
                        {{ .name }}
                    </a>
                {{ end }}
            </div>
        </div>

        <ul class="footer-policies">
            <li class="footer-policies-item">
                <a class="footer-policies-link" href="https://www.linuxfoundation.org/legal/terms">
                    {{ i18n "footer_terms_and_conditions" }}
                </a> |
                <a class="footer-policies-link" href="https://www.linuxfoundation.org/legal/privacy-policy">
                    {{ i18n "footer_privacy_policy" }}
                </a> |
                {{ if .Params.source_repo }}
                    {{ $msg := i18n "generated_file" }}
                    {{ $title := printf $msg .Page.Params.source_repo }}
                    <a class="disabled" title="{{ $title }}">{{ i18n "edit_on_github" }}</a>
                {{ else }}
                    {{ if eq $home.Lang "zh" }}
                        <a class="footer-policies-link" href="https://github.com/istio/istio.io/edit/{{ .Site.Data.args.doc_branch_name }}/content/zh/{{ .File }}">{{ i18n "edit_on_github" }}</a>
                    {{ else }}
                        <a class="footer-policies-link" href="https://github.com/istio/istio.io/edit/{{ .Site.Data.args.doc_branch_name }}/content/en/{{ .File }}">{{ i18n "edit_on_github" }}</a>
                    {{ end }}
                {{ end }}
            </li>
        </ul>

        <div class="footer-base">
            <span class="footer-base-copyright">&copy; {{ .Site.Data.args.copyright_year }} the Istio Authors.</span>

            <span class="footer-base-version">
                {{ $advisory := (i18n "advisory") }}
                {{ if ne $advisory "-" }}
                    {{ printf "%s" $advisory }}<br>
                {{ end }}

                {{ if .Site.Data.args.archive_landing }}
                    istio.io Archives
                {{ else }}
                    {{ i18n "footer_version" }}
                    {{ if .Site.Data.args.archive }}
                        {{ i18n "footer_istio_archive" }}
                    {{ else if .Site.Data.args.preliminary }}
                        {{ i18n "footer_istio_preliminary" }}
                    {{ else }}
                        {{ i18n "footer_istio" }}
                    {{ end }}

                    {{ strings.TrimSuffix ".0" .Site.Data.args.full_version }}
                {{ end -}}
            </span>

            <ul class="footer-base-releases">
                {{ $next := .Site.Data.versions.preliminary }}
                {{ $current := .Site.Data.versions.main }}

                {{ $fileDir := "" }}
                {{ with .File }}
                    {{ if ne .Dir "/" }}
                        {{ $fileDir = .Dir }}
                    {{ end }}
                {{ end }}

                {{ if or .Site.Data.args.archive .Site.Data.args.archive_landing }}
                    <li class="footer-base-releases-item">
                        <a tabindex="-1" class="footer-base-releases-link" onclick="navigateToUrlOrRoot('https://istio.io/{{ $fileDir }}');return false;">{{ i18n "current_release" }}</a>
                    </li>
                    <li class="footer-base-releases-item">
                        <a tabindex="-1" class="footer-base-releases-link" onclick="navigateToUrlOrRoot('https://preliminary.istio.io/{{ $fileDir }}');return false;">{{ i18n "next_release" }}</a>
                    </li>
                    <li class="footer-base-releases-item">
                        <a tabindex="-1" class="footer-base-releases-link" href="https://istio.io/archive">{{ i18n "archived_releases" }}</a>
                    </li>
                {{ else if .Site.Data.args.preliminary }}
                    <li class="footer-base-releases-item">
                        <a tabindex="-1" class="footer-base-releases-link" onclick="navigateToUrlOrRoot('https://istio.io/{{ $fileDir }}');return false;">{{ i18n "current_release" }}</a>
                    </li>
                    <li class="footer-base-releases-item">
                        <a tabindex="-1" class="footer-base-releases-link" href="https://istio.io/archive">{{ i18n "archived_releases" }}</a>
                    </li>
                {{ else }}
                    <li class="footer-base-releases-item">
                        <a tabindex="-1" class="footer-base-releases-link" onclick="navigateToUrlOrRoot('https://preliminary.istio.io/{{ $fileDir }}');return false;">{{ i18n "next_release" }}</a>
                    </li>
                    <li class="footer-base-releases-item">
                        <a tabindex="-1" class="footer-base-releases-link" href="https://istio.io/archive">{{ i18n "archived_releases" }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</footer>
