<footer class="d-print-none container-fluid">
    <div class="row">
        <div class="col-5 col-lg-4" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="icon">
                        <span>istio-users@</span>
                        <a title='{{ i18n "istio_users_desc" }}'
                           href="https://groups.google.com/forum/#!forum/istio-users" aria-label="istio-users mailing list">
                            {{ partial "icons/mailing-list.svg" }}
                        </a>
                    </div>

                    <div class="icon">
                        <span>twitter</span>
                        <a title='{{ i18n "twitter_desc" }}'
                           href="https://twitter.com/IstioMesh" aria-label="Twitter">
                            {{ partial "icons/twitter.svg" }}
                        </a>
                    </div>

                    <div class="icon">
                        <span>stack overflow</span>
                        <a title='{{ i18n "stackoverflow_desc" }}'
                           href="https://stackoverflow.com/questions/tagged/istio" aria-label="Stack Overflow">
                            {{ partial "icons/stackoverflow.svg" }}
                        </a>
                    </div>

                    <div class="icon">
                        <span>rocket chat</span>
                        <a title='{{ i18n "rocket_chat_desc" }}'
                           href="https://istio.rocket.chat" aria-label="Rocket Chat">
                            {{ partial "icons/rocket-chat.svg" }}
                        </a>
                    </div>
                </div>

                <div class="tag row d-none d-lg-flex">
                    {{ i18n "for_users" }}
                </div>
            </div>
        </div>

        <div class="col-7 col-lg-4">
            <p class="text-center copyright" role="contentinfo">
                Istio
                {{ if .Site.Data.args.archive }}
                    Archive
                {{ else if .Site.Data.args.preliminary }}
                    Preliminary
                {{ end }}
                {{ .Site.Data.args.version }}<br>&copy; 2018 Istio Authors, <a href="https://policies.google.com/privacy">Privacy Policy</a><br>
                {{ if .Site.Data.args.archive }}
                    Archived on {{ dateFormat "January 2, 2006" .Site.Data.args.archive_date }}
                {{ else }}
                    {{ $lastmod := .Page.Lastmod.Format "January 2, 2006" }}
                    {{ if ne $lastmod "January 1, 0001" }}
                        Page last modified: {{ $lastmod }}
                    {{ end }}
                {{ end }}
            </p>
        </div>

        <div class="col-6 col-lg-4 d-none d-lg-flex" role="navigation">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="icon">
                        <span>istio-dev@</span>
                        <a title='{{ i18n "istio_dev_desc" }}'
                           href="https://groups.google.com/forum/#!forum/istio-dev" aria-label="istio-dev mailing list">
                            {{ partial "icons/mailing-list.svg" }}
                        </a>
                    </div>

                    <div class="icon">
                        <span>github</span>
                        <a title='{{ i18n "github_desc" }}'
                           href="https://github.com/istio/community" aria-label="GitHub">
                            {{ partial "icons/github.svg" }}
                        </a>
                    </div>

                    <div class="icon">
                        <span>drive</span>
                        <a title='{{ i18n "team_drive_desc" }}'
                            href="https://groups.google.com/forum/#!forum/istio-team-drive-access" aria-label="team drive">
                            {{ partial "icons/drive.svg" }}
                        </a>
                    </div>

                    <div class="icon">
                        <span>working groups</span>
                        <a title='{{ i18n "working_group_desc" }}'
                           href="https://github.com/istio/community/blob/master/WORKING-GROUPS.md" aria-label="working groups">
                            {{ partial "icons/working-groups.svg" }}
                        </a>
                    </div>

                    <div class="icon">
                        <span>slack</span>
                        <a title='{{ i18n "slack_desc" }}'
                                href="https://istio.slack.com" aria-label="slack">
                            {{ partial "icons/slack.svg" }}
                        </a>
                    </div>
                </div>

                <div class="tag row justify-content-end text-right">
                    {{ i18n "for_developers" }}
                </div>
            </div>
        </div>
    </div>
</footer>
