{{ $skipPageNav := .Scratch.Get "skipPageNav" }}
{{ if not (or .Params.skip_pagenav $skipPageNav) }}
  {{- $reversePagination := .Scratch.Get "reversePagination" | default false -}}
  {{- $prev := cond $reversePagination .Params.next .Params.prev -}}
  {{- $next := cond $reversePagination .Params.prev .Params.next -}}

  {{ with $prev }}
    {{ $prev = $.Site.GetPage . }}
  {{ end }}
  {{ with $next }}
    {{ $next = $.Site.GetPage . }}
  {{ end }}

  {{- if or $prev $next -}}
  <nav class="pagenav">
    {{ if $prev }}
    <div class="left">
      <a href="{{ $prev.RelPermalink }}" title="{{ $prev.Title }}">Prev: {{ $prev.Title }}</a>
    </div>
    {{ end }}
    {{ if $next }}
    <div class="right">
      <a href="{{ $next.RelPermalink }}" title="{{ $next.Title }}">Next: {{ $next.Title }}</a>
    </div>
    {{ end }}
  </nav>
  {{- end -}}
{{ end }}
