<div class="share-social">
    <div class="heading">
        Share this post
    </div>

    <div class="share-buttons">
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" target="_blank">
            <img class="share-icon" src="/img/social/linkedin.svg" alt="Share to LinkedIn" />
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" target="_blank">
            <img class="share-icon" src="/img/social/twitterx.svg" alt="Share to X" />
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">
            <img class="share-icon" src="/img/social/facebook.svg" alt="Share to Facebook" />
        </a>
    </div>
</div>