{{ $toc := partial "toc.html" (dict "page" .) }}
{{ $needTOC := .Scratch.Get "needTOC" }}

<div class="container-fluid">
    <div class="row row-offcanvas">
        <div class="col-0 col-md-3 col-xl-2 sidebar-offcanvas">
            {{ $section := .Site.GetPage "section" .Section }}
            {{ if $section.Params.sidebar_multicard }}
                {{ partial "sidebar-multicard.html" . }}
            {{ else if $section.Params.sidebar_none }}
            {{ else }}
                {{ partial "sidebar-singlecard.html" . }}
            {{ end }}
        </div>

        {{ if and $needTOC (ne .Params.force_inline_toc true) }}
            <div class="col-12 col-md-9 col-xl-8">
        {{ else }}
            <div class="col-12 col-md-9 col-xl-10">
        {{ end }}

            {{ if or $section.Params.sidebar_singlecard $section.Params.sidebar_multicard }}
                <p class="d-md-none">
                    <label class="sidebar-toggler" data-toggle="offcanvas">
                        <i class="fa fa-sign-out-alt"></i>
                    </label>
                </p>
            {{ end }}

            <main aria-labelledby="title">
                {{ if not .Parent.IsHome }}
                    <div class="pagenav">
                        <p><a href="{{.Parent.URL}}" title="{{ .Parent.Description }}">
                            <i style="transform: scaleX(-1)" class="fa fa-level-up-alt"></i>
                            &nbsp;{{.Parent.Title}}</a></p>
                    </div>
                {{ end }}

                <h1 id="title">
                    {{ if .Params.icon }}
                        <img src="{{ .Params.icon }}" alt="Icon" class="page_icon" />
                    {{ end }}
                    {{ .Title }}
                </h1>

                {{ if .Params.subtitle }}
                    {{ if (strings.HasSuffix .Params.subtitle ".") }}
                        <P>MARKDOWN ERROR: subtitles should not end in a period</p>
                    {{ else }}
                        <p class="subtitle">{{ .Params.subtitle }}</p>
                    {{ end }}
                {{ end }}

                {{ if .Params.attribution }}
                    <p class="byline">
                        By <span class="attribution">{{ .Params.attribution }}</span>
                        {{ if .Params.twitter }}
                            (<a href="https://twitter.com/{{ .Params.twitter }}">@{{.Params.twitter}}</a>)
                        {{ end }}
                        /
                        <span class="publish_date">{{ .PublishDate.Format "January 2, 2006" }}</span>
                    </p>
                {{ end }}

                {{ if $needTOC }}
                    <nav class="toc-inlined d-xl-none d-print-none" {{ if .Params.force_inline_toc }}style="display:block!important" {{ end }}>
                        <hr/>
                        <div class="directory" role="directory">
                            {{ replace $toc "TableOfContents" "InlinedTableOfContents" | safeHTML }}
                        </div>
                        <hr/>
                    </nav>
                {{ end }}
