{{ $toc := partial "toc.html" (dict "page" .) }}
{{ $needTOC := .Scratch.Get "needTOC" }}

                {{ if .Scratch.Get "seeAlso" }}
                    {{ $related := .Site.RegularPages.Related . | first 6 }}
                    {{ with $related }}
                        <h2 id="see-also">See also</h2>

                        <div class="see-also">
                            <div class="container-fluid">
                                <div class="row">
                                    {{ range . }}
                                        <div class="col-xs-12 col-sm-6 col-xl-4">
                                            <div style="padding:0rem 1rem;float:right">
                                                <span>
                                                    <a href="{{ .RelPermalink }}"><i class="fa fa-long-arrow-alt-right"></i></a>
                                                </span>
                                            </div>
                                            <p class="link"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
                                            <p class="desc">{{ .Description }}</p>
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </main>

            {{ if or .NextInSection .PrevInSection }}
                <div class="container-fluid d-print-none">
                    <br/><hr/><br/>

                    <div class="row">
                        <div class="col-6">
                            {{ if .NextInSection }}
                                <a title="{{ .NextInSection.Description }}" href="{{ .NextInSection.URL }}"><i class="fa fa-long-arrow-alt-left"></i> {{ .NextInSection.Title }}</a>
                            {{ end }}
                        </div>
                        <div class="col-6" style="text-align: right">
                            {{ if .PrevInSection }}
                                <a title="{{ .PrevInSection.Description }}" href="{{ .PrevInSection.URL }}">{{ .PrevInSection.Title }} <i class="fa fa-long-arrow-alt-right"></i></a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            {{ end }}

            <div class="d-none d-print-block" aria-hidden="true">
                <h2>Links</h2>
                <ol id="endnotes"></ol>
            </div>
        </div>

        {{ if and $needTOC (not .Params.force_inline_toc) }}
            <div class="col-12 col-md-2 d-none d-xl-block d-print-none">
                <nav class="toc">
                    <div class="spacer"></div>
                    <div id="toc" class="directory" role="directory">
                        {{ $toc }}
                    </div>
                </nav>
            </div>
        {{ end }}
    </div>
</div>
