{{ $pages := .pages }}
{{ $parent := .parent }}
{{ $current := .current }}
{{ $collapse := .collapse }}

<ul{{ if not $collapse }} class="show"{{ end }}>
    {{ range $pages }}
        {{ if eq .Parent $parent }}
            <li>
                {{ if not .IsPage }}
                    {{ $collapse := not (.IsAncestor $current) }}

                    <button{{ if not $collapse }} class="show"{{ end }}></button><a {{ if eq $current.Permalink .Permalink }}class="current"{{ end }} title="{{ .Description }}" href="{{ .Permalink }}">{{ .LinkTitle}}</a>

                    {{ partial "sidebar_level.html" (dict "pages" $pages "parent" . "current" $current "collapse" $collapse) }}
                {{ else }}
                    {{ if eq $current.Permalink .Permalink }}
                        <span class="current" title="{{ .Description }}">{{ .LinkTitle }}</span>
                    {{ else }}
                        <a title="{{ .Description }}" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                    {{ end }}
                {{ end }}
            </li>
        {{ end }}
    {{ end }}
</ul>
