<nav id="sidebar" aria-label="Section Navigation">
    <div class="directory" role="tablist">
        {{ $section := .Site.GetPage "section" .Section }}

        {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
        {{ $current := . }}

        {{ range $count, $page := $pages }}
            {{ if eq .Parent $section }}

                {{ $id := printf "header%d" $count }}
                <div class="card" role="tabpanel" aria-labelledby="{{ $id }}">
                    <div class="header" role="tab" id="{{ $id }}" title="{{ $page.Description }}">
                        {{- if $page.Params.icon -}}
                            {{- partial "icon.html" .Params.icon -}}
                        {{- end -}}
                        {{- $page.Title -}}
                    </div>

                    <div class="body{{if .IsAncestor $current}} default{{end}}">
                        {{ partial "sidebar_level.html" (dict "pages" $pages "parent" $page "current" $current "collapse" false "top" true "labelledby" $id ) }}
                    </div>
                </div>
            {{ end }}
        {{ end }}

        {{ if not .Site.Data.args.archive }}
            {{ if strings.HasSuffix $section.Dir "blog/" }}
                <div id="subscribe" >
                    <a href="/feed.xml" target="_blank">
                        {{ partial "large_icon.html" "rss" }}{{ i18n "subscribe" }}
                    </a>
                </div>
            {{ end }}
        {{ end }}
    </div>
</nav>
