<nav class="sidebar d-print-none">
    <div class="spacer"></div>
    <div class="directory" role="tablist">
        {{ $section := .Site.GetPage "section" .Section }}

        <div class="card">
            <div class="card-header" role="tab">
                <div title="{{ $section.Description }}">
                    {{ if .Params.page_icon }}
                        <img src="{{ .Params.page_icon }}" alt="Icon" class="page_icon" />
                    {{ end }}
                    {{ $section.Title }}
                </div>
            </div>

            {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}

            <div role="tabpanel" aria-labelledby="header0">
                <div class="card-body">
                    {{ partial "sidebar-level.html" (dict "pages" $pages "parent" $section "current" . "collapse" false) }}
                </div>
            </div>
        </div>
    </div>
</nav>
