<nav id="sidebar">
    <div class="spacer"></div>
    <div class="directory" role="tablist">
        {{ $section := .Site.GetPage "section" .Section }}

        <div class="card">
            <div id="header0" class="header" role="tab" title="{{ $section.Description }}">
                {{- if $section.Params.icon -}}
                    {{- partial "icon.html" $section.Params.icon -}}
                {{- end -}}
                {{- $section.Title -}}
            </div>

            {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}

            <div class="body default" role="tabpanel" aria-labelledby="header0">
                {{ partial "sidebar_level.html" (dict "pages" $pages "parent" $section "current" . "collapse" false) }}
            </div>
        </div>
    </div>
</nav>
