{{- $input := .content -}}
{{- $pos := .pos -}}
{{- $lines := split $input "\n" -}}

{{- $numLines := len $lines -}}
{{- if gt $numLines 1 -}}

    {{- /* look the minimum indent of all lines */ -}}
    {{- $minIndent := 16 -}}
    {{- range $index, $line := $lines -}}
        {{- if eq $index 0 -}}
            {{- /* skip the first line since it just contains the junk to the right of the shortcode */ -}}
        {{- else if eq $index (sub $numLines 1) -}}
            {{- /* skip the last line since it just contains the junk to the left of the shortcode */ -}}
        {{- else if gt (len $line) 0 -}}
            {{- $indent := 0 -}}
            {{- if hasPrefix $line "                " -}}{{- $indent = 16 -}}
            {{- else if hasPrefix $line "            " -}}{{- $indent = 12 -}}
            {{- else if hasPrefix $line "        " -}}{{- $indent = 8 -}}
            {{- else if hasPrefix $line "    " -}}{{- $indent = 4 -}}
            {{- end -}}

            {{- if lt $indent $minIndent -}}
                {{ $minIndent = $indent }}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- $prefix := "" -}}
    {{- if eq $minIndent 4 -}}
        {{- $prefix = "    " -}}
    {{- else if eq $minIndent 8 -}}
        {{- $prefix = "        " -}}
    {{- else if eq $minIndent 12 -}}
        {{- $prefix = "            " -}}
    {{- else if eq $minIndent 16 -}}
        {{- $prefix = "                " -}}
    {{- end -}}

    {{- $text := "" -}}
    {{- range $index, $line := $lines -}}
        {{- if eq $index 0 -}}
            {{- /* skip the first line since it just contains the junk to the right of the shortcode */ -}}
        {{- else if eq $index (sub $numLines 1) -}}
            {{- /* skip the last line since it just contains the junk to the left of the shortcode */ -}}
        {{- else -}}
            {{- $text = printf "%s%s\n" $text (strings.TrimPrefix $prefix $line) -}}
        {{- end -}}
    {{- end -}}

    {{- $text | safeHTML -}}
{{- else -}}
    {{- errorf "Shortcode must span muliple lines (%s)" $pos -}}
{{- end -}}
