{{ if not .Site.Data.args.archive }}
    {{ if eq .section "blog" }}
        <div id="subscribe">
            <a href="/blog/feed.xml" target="_blank">
                {{ partial "large_icon.html" "rss" }}{{ i18n "subscribe" }}
            </a>
        </div>
    {{ end }}

    {{ if eq .section "news" }}
        <div id="subscribe">
            <a href="/news/feed.xml" target="_blank">
                {{ partial "large_icon.html" "rss" }}{{ i18n "subscribe" }}
            </a>
        </div>
    {{ end }}
{{ end }}
