.blog {
    h1 {
        margin-bottom: 0;
    }

    .subtitle {
        margin-top: .15rem;
        margin-bottom: 0;
        padding: 0 0 0 0;
        font-size: 125%;
    }

    .byline {
        margin-top: .15rem;
        margin-bottom: 2rem;
        padding: 0;
        text-transform: uppercase;
        font-size: 75%;
    }

    .attribution {
        font-weight: bolder;
    }

    .publish_date {
    }

    .rssLink {
        position: absolute;
        top: 10px;
        right: 0;
    }
}
