.community {
    table, th, td {
        border: none;
    }

    td {
        line-height: 1.15em;
        vertical-align: middle;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    td.logo {
        width : 65px;
    }

    td.desc {
        border: none;
    }
}
