.docs {
    .copy-button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        padding: 0px 6px 0px 6px;
        color: #795548;
        background-color: transparent;
        margin-top: 3px;
    }

    .copy-button:hover {
        outline: 0;
        background-color: $popBrandColor;
    }

    .copy-button:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 3px;
        background-size: contain;
        background-image: url(../img/clipboard.svg);
        background-repeat: no-repeat;
        position: relative;
        top: 3px
    }
}
