.docs {
  .thin-left-border {
    border-left: 1px solid rgba(0, 0, 0, .15);
  }

  .tab-neg-margin {
    margin-left: -15px;
  }

  #sidebar-tab {
    border: 1px solid rgba(0,0,0,0.10);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(0,0,0,0.05);
    padding: 10px 5px 10px 5px;
    margin-top: -2px;
    margin-right: 10px;
    font-size: 1rem;
    color: $black;
  }

  #sidebar-container {
    float: left;
    padding:0px;
    background-color: #fff;
  }
}
