.faq {

  .list-group.help-group {
    margin-bottom: 20px;
    padding-left: 0;
    margin: 0;

    .faq-list {
      display: block;
      top: auto;
      margin: 0 0 32px;
      border-radius: 2px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);

      .list-group-item {
        position: relative;
        display: block;
        margin: 0;
        padding: 13px 16px;
        background-color: #fff;
        border: 0;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        color: #616161;
        transition: background-color .2s;

        i.mdi {
          margin-right: 5px;
          font-size: 18px;
          position: relative;
          top: 2px;
        }

        &:hover {
          background-color: #f6f6f6;
        }

        &.active {
          background-color: #f6f6f6;
          font-weight: 700;
          color: rgba(0,0,0,.87);
        }

        &:last-of-type {
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          border-bottom: 0;
        }
      }
    }
  }

  a {
    font-weight: 400;
    text-decoration: none;

    h4 {
      margin: 0px;
      font-weight: 300;
      font-size: $font-size--s;
      font-style: normal;
    }
  }

  .panel-body {
    padding: 0px;
    background: $light-gray;
  }

  p {
    padding-top: 0px;
    padding-left: 15px;
  }
}
