.faq {
    h4 {
        font-size: 110%;
        margin: 0px;
    }

    .panel-body {
        padding: 0px;
    }

    p {
        padding-left: 20px;
    }

    ul {
        padding-left: 30px;
    }

    ul p {
        padding-left: 0px;
    }
}
