.landing {
    .section-content {
      padding: 20px 20px 20px 20px;

      @media (min-width: $desktop-small) {
        padding: 10% 0;
      }

      p {
        font-weight: 300;
        font-size: 100%;
      }
    }

    .landing-image {
      padding-top: 10px;
      padding-bottom: 20px;

      @media (min-width: $desktop-small) {
        max-width: 55%;
        max-height: 400px;
        padding-right: 20px;
        padding-left: 20px;
      }
    }

    .jumbotron {
        margin: 0;
        padding-left: 200px;
        padding-right: 200px;
    }

    .traffic, .policy {
        background-color: white;
    }

    .resilience, .reporting, .resilience h2, .reporting h2 {
        background-color: #0EC6DC;
        color: white;
    }

    .btn.btn-floating.down-caret {
        position: relative;
        transform: none;
        bottom: 15px;
        left: 49%;
    }

    #doc-call {
      margin-top: 10px;
      padding-bottom: 20px;
      @media (min-width: $tablet) {
      }
    }
}