.landing {
    .hero {
        background: $mainBrandColor linear-gradient(to right, $mainBrandColor, $secondBrandColor) no-repeat center/cover;
        position: relative;
        text-align: center;

        .hero-label {
            color: white;
            margin: 0 0 0 0;
            padding: 30px 0 0 0;
            font-size: 62px;
        }

        .hero-logo {
            height: 170px;
            padding: 0;
            margin: 28px 0 0 0;
        }

        .hero-lead {
            color: white;
            display: block;
            font-size: 18px;
            font-weight: 300;
            margin: 32px 0 0 0;
            padding: 0;
        }

        .hero-down-arrow {
            color: white;
            display: inline-block;
            margin: 20px 0 20px 0;
            padding: 5px;
            cursor: pointer;
        }

        @media (min-width: $bp-sm) {
            .hero-label {
                padding: 80px;
            }

            .hero-logo {
                margin: 78px 0 0 0;
            }

            .hero-lead {
                margin: 82px 0 0 0;
            }

            .hero-down-arrow {
                margin: 60px 0 20px 0;
            }
        }
    }

    h2 {
        border: 0;
    }

    .landing-image {
        max-height: 300px;
        text-align: center;
    }

    .landing-text {
        text-align: center;
    }

    .alt {
        background-color: #f8f8f8;
    }

    .container-fluid {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (min-width: $bp-md) {
        .landing-text {
            text-align: left;

            .alt {
                text-align: right;
            }
        }

        .landing-image {
            text-align: right;

            .alt {
                text-align: left;
            }
        }

        .container-fluid {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .call {
        margin: 80px 0 20px 0;
        padding: 0;
        height: auto;
        text-align: center;
    }
}
