{{ define "main" }}
{{ if .Site.Data.args.archive_landing }}
    <main class="primary notoc">
        <div id="sidebar-container" class="sidebar-container sidebar-offcanvas">
        </div>
        <div class="article-container">
            <h1>istio.io Archives</h1>
            <p>Snapshots of the <a href="https://istio.io">istio.io</a> website for each release.</p>

            <ul>
                {{ range $archive := .Site.Data.archives }}
                    <li><a href="./{{ $archive.name }}">{{ $archive.name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </main>
{{ else }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.159.0/three.min.js" integrity="sha512-OviGQIoFPxWNbGybQNprasilCxjtXNGCjnaZQvDeCT0lSPwJXd5TC3usI/jsWepKW9lZLZ1ob1q/Vy4MnlTt7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            new Splide('.case-studies', {
                type: 'loop',
                perPage: 1,
                start: 2,
                arrows: false
            }).mount();
        });
    </script>

    {{ .Content }}
    
    <script src="/js/headerAnimation.min.js"></script>
{{ end }}
{{ end }}
