.about {

    h1 {
        margin-top: 1.5rem;
        text-align: center;
    }

    p,
    ul li {
        font-weight: $mediumWeight;
    }

    p { font-size: 1.125rem; }

    .title-area {
        margin-bottom: 2.625rem;
        max-width: $container-s;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @media (min-width: $bp-lg) {
            margin-bottom: 6.25rem;
        }

        &.subtitle {
            text-align: center;
            max-width: 750px;
        }
    }

    figure {
        max-width: 800px;
    }

    .toc-inlined {
        @media (max-width: $bp-xl) {
            display: none;
        }
    }
}
