.about {
    h1, h3 {
        text-align: center;
    }

    p,
    ul li {
        font-weight: $mediumWeight;
    }

    p { font-size: 1.125rem; }

    .title-area .subtitle {
        text-align: center;
    }

    .title-area .subtitle {
        max-width: 750px;
    }

    figure {
        max-width: 800px;
    }

    .toc-inlined {
        @media (max-width: $bp-xl) {
            display: none;
        }
    }
}
