.article {
    .title-area {
        margin-bottom: 3rem;

        h1 { margin-top: 0;}
    }

    h1 {
        @media (min-width: $bp-md) {
            font-size: 3rem;
        }
    }

    h2 {
        margin-top: 3rem;
    }

    .feature-block {
        margin-top: 0;

        &-image {
            margin: 0;
        }
    }
}