.banner-container {
    display: none;

    @media screen AND (min-width: $bp-md) {
        display: flex;
        position: fixed;
        top: 8.125rem;
        align-items: center;
        z-index: $banner-z;
        height: 60px;
        width: 100%;
        padding: 0.5rem;
        text-align: center;
        color: $bannerTextColor;
        background-color: $bannerBackgroundColor;
        font-size: 1.25rem;

        .banner {
            display: none;
            position: relative;
            width: 100%;
        }

        .content {
            top: 0;

            p {
                margin: 0;
            }
        }

        a {
            color: $bannerLinkColor;
        }

        a:hover, a:focus {
            color: $bannerLinkHoverColor;
            text-decoration: none;
        }

        a.disabled {
            color: $bannerLinkDisabledColor;
        }

        a.active {
            color: $bannerLinkActiveColor;
            text-decoration: none;
        }
    }
}
