figure {
    margin: 1.5rem auto;
    padding: .5rem;
    background-color: $figureBackgroundColor;
    border-radius: $border-radius;

    .wrapper-with-intrinsic-ratio {
        position: relative;
        height: 0;
    }

    .element-to-stretch {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    figcaption {
        text-align: center;
        font-size: $font-size--s;
        font-style: italic;
        font-weight: $figureCaptionWeight;
        color: $figureCaptionColor;
        padding-top: .5rem;
    }
}
