.footer {
    background-color: $secondaryAccentColor;
    color: $textBrandColor;
    width: 100%;
    height: auto;
    font-size: 1.125rem;
    overflow: hidden;
    margin-top: $section-margin;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    z-index: $footer-z;

    @media (min-width: $bp-lg) {
        margin-top: 7rem;
    }

    &-wrapper {
        display: block;

        @media (min-width: $bp-lg) {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-areas:
            "footer-info footer-links"
            "footer-base footer-policies";
            grid-gap: 1.25rem;
        }
    }

    @media print {
        display: none;
    }

    a {
        color: $textBrandColor;
        text-decoration: none;
        cursor: pointer;
        padding: .5rem;
    }

    .footer-separator {
        position: relative;
        height: 2px;
        width: calc(100% + (2 * 1.75rem));
        left: -1.75rem;
        border: 0;
        margin: 2.25rem 0;
        background-color: #ffffff;

        @media (min-width: $bp-md) {
            width: calc(100% + (2 * 2rem));
            left: -2rem;
        }

        @media (min-width: $bp-lg) {
            display: none;
        }
    }

    .footer-links {
        grid-area: footer-links;
        display: flex;
        justify-content: space-between;
    }

    .footer-info {
        grid-area: footer-info;

        .logo svg {
            fill: $textBrandColor;
        }
    }

    .footer-languages {
        margin-top: 1.7rem;
        display: flex;
        align-self: center;

        &-item {
            display: inline-flex;
            align-items: center;
            font-weight: $mediumWeight;

            &:not(:first-child) {
                margin-left: 1rem;
            }

            &.active {
                color: $accentColor;
            }
        }

        svg.icon.tick {
            fill: $accentColor;
            stroke: $accentColor;
            stroke-width: 3px;
            margin-right: .5rem;
        }
    }

    .footer-policies {
        grid-area: footer-policies;
        list-style-type: none;
        margin: 0;

        &-item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
            line-height: 1rem;

            & + .footer-policies-item {
                margin-left: .75rem;
                padding-left: .75rem;
                border-left: 1px solid $textBrandColor;
            }
        }

        &-link {
            font-size: 1.125rem;
        }
    }

    .footer-base {
        grid-area: footer-base;

        &-version { margin-right: 1rem; }

        &-releases {
            display: block;
            list-style-type: none;
            font-size: .8em;
            line-height: .8rem;
            margin-top: .5rem;
            margin-left: 0;

            @media (min-width: $bp-md) {
                display: inline-block;
            }

            &-item {
                display: inline-block;
                margin: 0;

                &:not(:first-child) {
                    margin-left: .5rem;
                    padding-left: .5rem;
                    border-left: 1px solid $textBrandColor;
                }
            }

            &-link {
                color: $accentColor;
            }
        }
    }

    @media (max-width: $bp-lg) {
        .footer-base,
        .footer-policies {
            margin-top: 1.25rem;
        }
    }

    @media (min-width: $bp-lg) {
        .footer-links,
        .footer-policies {
            align-self: end;
            justify-self: end;
        }
    }

    .channel {
        position: relative;
        display: inline-flex;

        svg {
            width: 34px;
            height: 34px;
            fill: $textBrandColor;
            stroke: none;

            @media (min-width: $bp-sm) {
                width: 42px;
                height: 42px;
            }
        }

        @media (min-width: $bp-lg) {
            &:not(:last-child) {
                margin-right: 1.875rem;
            }

            svg {
                width: 45px;
                height: 45px;
            }
        }
    }
}
