.get-involved {
    margin-top: $section-margin;
    max-width: 898px;
    padding: 0 20px;

    @media (min-width: $bp-lg) {
        padding: 0;
    }

    a {
        color: $accentColor;
        text-decoration: underline;
    }

    h1, .subtitle {
        text-align: center;
    }

    .title-area {
        margin-bottom: 2.5rem;
    }
}