.involve-block {
    padding-left: 30px;
    border-bottom: 4px dotted $accentColor;


    @media (min-width: $bp-sm) {
        padding: 0 65px 0 95px;
        background: {
            image: url('/img/get-involved-wave.svg');
            repeat: no-repeat;
            size: contain;
            position: left;
        }
    }

    &:first-child {
        border-top: 4px dotted $accentColor;
    }          
    &:first-child &-header {
        border-left-color: transparent;
    }
    &:last-child  &-content {
        border-left: none;
    }

    &-header {
        display: flex;
        padding-top: 33px;
        border-left: 4px solid $accentColor;
        h3 {
            margin: 0;
        }
    }

    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background: $accentColor;
        border-radius: 100%;
        margin-left: -32px;
        margin-right: 28px;

        @media (min-width: $bp-sm) {
            background: {
                image: url('/img/get-involved-wave.svg');
                repeat: no-repeat;
                size: contain;
                position: left;
            }
        }

        svg {
            height: 24px;
            fill: white;
        }
    }

    &-content {
        padding-left: 58px;
        padding-bottom: 25px;
        border-left: 4px solid $accentColor;

        @media (min-width: $bp-sm) {
            padding-bottom: 10px;
        }

        ol {
            margin: 0;
            padding-left: 34px;
            list-style-type: none;
            counter-reset: involved-list-counter;
        }

        li {
            position: relative;
            margin-bottom: 20px;
            &::before {
                position: absolute;
                left: -38px;
                top: 0px;
                counter-increment: involved-list-counter;
                content: counter(involved-list-counter);
                display: block;
                float: left;
                width: 28px;
                height: 28px;
                border: 2px solid $accentColor;
                border-radius: 100%;
                color: $accentColor;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
            }
        }
    }

    &-subtitle {
        margin: 0;
        padding-bottom: 24px;
    }
}