.landing {
    section {
        text-align: center;
        margin-bottom: $section-margin;

        @media (min-width: $bp-md) {
            margin-bottom: $section-margin-md;
        }
    }

    #hero {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10rem 3.375rem 9.125rem;
        background-color: #516baa;
        margin-top: -$headerHeight;
        overflow: hidden;

        @media (min-width: $bp-md) {
            padding: 15.375rem 3.375rem;
            min-height: 680px;
        }

        @media (min-width: $bp-lg) {
            margin-top: -$headerHeightLg;
        }

        h1 {
            margin-bottom: .5rem;
            font-weight: var(--semiBoldWeight);

            @media (min-width: $bp-md) {
                margin-bottom: 1.5rem;
            }
        }

        h1, .subtitle {
            color: #ffffff;
            z-index: $hero-text-z;
        }

        &-animation {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -10%;
            width: 100%;

            @media (min-width: $bp-md) {
                right: -20%;
            }
        }
    }

    #landing-panels {
        margin-top: calc(-6rem - #{$section-margin} - #{$panel-margin-top});

        @media (min-width: $bp-md) {
            margin-top: calc(-10.25rem - #{$section-margin-md} - #{$panel-margin-top});
        }
    }

    #service-mesh {
        .service-mesh-graph img {
            width: 100%;
            height: auto;
            max-width: 800px;
        }
    }

    #cncf {
        .cncf-logo img {
            width: 100%;
            height: auto;
            max-width: 400px;
        }

        .cncf-logo p {
            margin: 0;
        }
    }

    h1 {
        margin-bottom: 1.5rem;

        @media (min-width: $bp-md) {
            margin-bottom: 2.5rem;
        }
    }

    p {
        font-size: 1.5rem;
    }
}
