.landing {
    section {
        text-align: center;
        margin-bottom: $section-margin;

        @media (min-width: $bp-md) {
            margin-bottom: $section-margin-md;
        }
    }

    #banner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10rem 3.375rem 9.125rem;
        background-color: #516baa;
        margin-top: -3.7rem;
        overflow: hidden;

        @media (min-width: $bp-md) {
            padding: 15.375rem 3.375rem;
            min-height: 680px;
        }

        #hero-text {
            font-size: 1.75rem;
            line-height: 1.36;
            color: #ffffff;
            text-align: center;
            font-weight: $semiBoldWeight;
            max-width: 750px;
            z-index: 1;

            @media (min-width: $bp-md) {
                font-size: 3rem;
                line-height: 1.2;
            }
        }

        &-animation {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -10%;
            width: 100%;

            @media (min-width: $bp-md) {
                right: -20%;
            }
        }
    }

    .panels {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: -2.5rem;
    }

    .panel {
        width: 100%;
        max-width: 320px;
        min-height: 320px;
        color: $landingPanelTextColor;
        background-color: $secondaryColor;
        text-align: center;
        margin: $panel-margin-top 0 0;
        padding: 2.25rem;

        &:hover {
            text-decoration: none;
        }

        @media (min-width: $bp-sm) {
            margin: $panel-margin-top 1.25rem 0;
        }

        .panel-title {
            color: $landingPanelTitleColor;
            font-size: 1.75rem;
            font-weight: $semiBoldWeight;
        }

        .panel-text {
            color: $landingPanelTextColor;
            font-size: 1.125rem;
            margin: 1.125rem 0 0;
            flex: 1;
            font-weight: $mediumWeight;
        }

        .panel-img-top {
            text-align: center;
            padding: 0;
            margin-bottom: 2rem;

            svg { height: 72px; }
        }

        .panel-body {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .panel-btn {
            margin-top: 1.5rem;
            align-self: center;
        }

        &--dark {
            background: $secondaryAccentColor;
            
            .panel-title { color: $accentColor; }

            .btn {
                border-color: #7dc5f2;
                color: #7dc5f2;

                &:hover {
                    background-color: #7dc5f2;
                    color: $secondaryAccentColor;
                }
            }
        }

        &--transparent {
            background-color: unset;
            padding: 0;
            min-height: auto;
            
            .panel-title,
            .panel-text {
                color: $primaryColor;
            }

            @media (max-width: $bp-sm) {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &--carousel {
            margin: 0 auto;
            height: 100%;
            
            .panel-title { flex-grow: 1; }
        }
    }

    #landing-panels {
        margin-top: calc(-6rem - #{$section-margin} - #{$panel-margin-top});

        @media (min-width: $bp-md) {
            margin-top: calc(-10.25rem - #{$section-margin-md} - #{$panel-margin-top});
        }
    }

    #service-mesh {
        .service-mesh {
            &-graph svg {
                width: 100%;
                max-width: 800px;
            }

            @media (min-width: $bp-md) {
                &-wrapper {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 4.375rem;
                }

                &-description h3 { margin-top: 0; }
                &-graph { order: 2; }
                &-cta { text-align: left; }
            }
        }
    }

    #case-studies {
        .quote-panel {
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            @media (min-width: $bp-md) {
                max-width: 650px;
            }

            &-text {
                margin: 0;
                padding: 0;
                font-size: $font-size--l;
                font-weight: $boldWeight;
                font-style: italic;
                color: $secondaryColor;
                background-color: unset;

                &::before { content: '“'; }
                &::after { content: '”'; }
            }

            &-img {
                border-radius: 50%;
                border: 2px solid $accentColor;
                width: 92px;
                height: 92px;
                background-color: #e8e8e8;
                margin: 2.25rem auto 0;
            }

            &-name {
                font-size: 1.125rem;
                margin-top: 1.125rem;
                color: $accentColor;
                font-weight: $boldWeight;
                line-height: 1.2;
            }

            &-company {
                margin-top: .25rem;
                font-size: .875rem;
            }
        }
    }

    .distributors {
        &-grid {
            display: grid;
            grid-gap: 1.5rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            &-item {
                display: grid;
                background-color: #f8f9fa;
                padding: 1rem;
                place-items: center;

                &::before {
                    content: "";
                    padding-bottom: 100%;
                    display: block;
                }

                & > img {
                    max-width: 175px;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }

                &::before,
                & > img {
                    grid-area: 1 / 1 / 2 / 2;
                }
            }

            @media (min-width: $bp-sm) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (min-width: $bp-lg) {
                grid-gap: 2.375rem; 
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            }
        }
    }

    .section-description {
        text-align: center;
        margin: 0 auto;
        max-width: 650px;
        margin-bottom: 2rem;

        p {
            line-height: 1.5;
            margin: 0;
            font-weight: $mediumWeight;
        }

        @media (min-width: $bp-md) {
            margin-bottom: 3.75rem;

            p { font-size: $font-size--l; }
        }
    }

    .splide {
        &__track {
            @media (min-width: 1160px) {
                max-width: calc((3 * 330px) + (2 * 2.5rem));
            }
        }

        &__pagination {
            position: relative;
            display: block;
            text-align: center;
            width: 100%;
            margin-top: 1.5rem;
            bottom: unset;
    
            &__page {
                height: 18px;
                width: 18px;
                background: #ffffff;
                border: 2px solid $accentColor;
    
                &.is-active {
                    background: $accentColor;
                    transform: none;
                }
            }
        }
    }

    h2 { text-align: center; }
}