.message-fields {
    .type {
        font-size: 85%;
        padding-left: .4em;
    }

    .required {
        font-size: 85%;
        font-weight: bold;
        padding-left: .4em;
        padding-right: .4em;
        padding-top: 1em;
    }
}
