.primary {
    display: grid;
    grid-template-columns: [article] 100%;
    grid-column-gap: 2.5rem;

    @media screen AND (min-width: $bp-md) {
        &.has-sidebar {
            grid-template-columns: [sidebar] 30% [article] calc(70% - 2.5rem);
        }
    }

    @media print {
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-container {
        max-width: 25em;

        @media print {
            display: none;
        }
    }

    .toc-container {
        display: none;
    }

    @media screen AND (min-width: $bp-xl) {
        &.has-toc {
            grid-template-columns: [article] calc(80% - 2.5rem) [toc] 20%;
        }

        &.has-sidebar {
            grid-template-columns: [sidebar] 20% [article] calc(80% - 2.5rem);
        }

        &.has-toc.has-sidebar {
            grid-template-columns: [sidebar] 16% [article] calc(68% - (2 * 2.5rem)) [toc] 16%;
        }
        
        .toc-container {
            display: block;
        }
    }

    #see-also {
        @media print {
            display: none;
        }
    }
}
