.primary {
    display: grid;
    grid-template-columns: [article] 100%;
    grid-column-gap: 3rem;
    margin-top: 3.75rem;

    @media print {
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-container {
        margin-bottom: 2.5rem;
        
        @media print {
            display: none;
        }
        @media screen AND (max-width: $bp-xl) {
            display: none;
            position: absolute;
            top: -110px;
            left: 0;
            z-index: 101;
            height: 100%;
            width: 100%;
            overflow-y: auto;
            background: $paleGray;
            &.visible {
                display: block;
                
            }
        }
    }

    .toc-container {
        display: none;
    }

    @media screen AND (min-width: $bp-xl+1) {
        &.has-toc {
            grid-template-columns: [article] calc(80% - 3rem) [toc] 20%;
        }

        &.has-sidebar {
            grid-template-columns: [sidebar] 30% [article] calc(70% - 3rem);
        }

        &.has-toc.has-sidebar {
            grid-template-columns: [sidebar] 22% [article] calc(62% - (2 * 3rem)) [toc] 16%;
        }
        
        .toc-container {
            display: block;
        }
    }

    #see-also {
        @media print {
            display: none;
        }
    }
}