@media screen {
    .sidebar-offcanvas {
        @media (max-width: $bp-md) {
            position: absolute;
            width: 80%;
            transition: all .4s ease;
            left: -$bp-md;
            top: $headerHeight;
        }

        @media (min-width: $bp-md) {
            position: unset;
            width: auto;
        }
    }

    .sidebar-offcanvas.active {
        left: 1rem;
    }
}

#sidebar {
    order: 0;
    font-size: 85%;

    @media (min-width: $bp-xl) {
        font-size: 100%;
    }

    padding-top: .1rem;

    .directory {
        @supports (position: sticky) {
            max-height: calc(100vh - 9rem);
        }

        @media (min-width: $bp-md) {
            @supports (position: sticky) {
                max-height: calc(100vh - 9rem);
                overflow-y: auto;
            }

            display: block !important;
        }

        .body > ul.leaf-section > li {
            margin-left: 0;
        }

        .card {
            background-color: $backgroundColor;
            margin-top: .1rem;
            margin-bottom: .1rem;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-clip: border-box;
            border: 1px solid $dividerBarColor;
            border-radius: $border-radius;

            .header {
                margin-bottom: 0;
                background-color: rgba(0, 0, 0, .03);
                border: 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0);
                padding: .75em 1.25em;
                color: $textColor;
                width: 100%;
                text-align: left;
                outline: none;
                font: inherit;
                transition: border-bottom-color .6s;

                &.dynamic {
                    color: $linkColor;
                    cursor: pointer;

                    &:hover {
                        color: $linkHoverColor;
                    }
                }

                &[aria-expanded=true] {
                    border-bottom-color: $dividerBarColor;
                    transition: border-bottom-color .6s;
                }

                svg {
                    margin-right: .3em;
                }

                a {
                    text-decoration: none;
                }
            }

            .body {
                flex: 1 1 auto;
                overflow: hidden;
                padding: 0 1em;
                max-height: 0;
                transform: scaleY(0) scaleX(0);
                transition: max-height .6s ease-out, padding, transform .6s;

                &.show {
                    padding: .5em 1em;
                    transform: scaleY(1) scaleX(1);
                }

                &.default {
                    padding: .5em 1em;
                    transform: scaleY(1) scaleX(1);
                    max-height: unset;
                }

                button {
                    cursor: pointer;
                    border: 0;
                    background: $sidebarRightChevron no-repeat;
                    width: 1rem;
                    height: 1rem;
                    left: -1.3rem;
                    position: absolute;
                    transform: rotate(270deg);

                    &.show {
                        transform: rotate(0deg);
                        margin-top: 10px;
                    }

                    &:focus {
                        outline: 0;
                    }
                }

                button:hover, button:focus {
                    outline: 0;
                    background: $sidebarRightChevronHover no-repeat;

                    &.show {
                        background: $sidebarDownChevronHover no-repeat;
                    }
                }

                a {
                    font-weight: $sidebarLinkWeight;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: none;

                    &[aria-expanded=true] {
                        display: block;
                    }
                }

                li {
                    margin: .7em 0 .7em 1.3rem;
                    padding: 0;
                    font-size: 85%;
                    position: relative;

                    .current {
                        color: $linkActiveColor;
                        font-weight: $sidebarCurrentPageWeight;
                    }
                }
            }
        }
    }
}

.sidebar-nav {
    width: 100%;
    background-color: $paleGray;
    padding: 1.25em;
    padding-top: 3.75em;

    .search {
        width: 100%;
        height: 46px;
        display: flex;
        border: 2px solid $inputBorderColor;
        padding: 0 19px;
        margin-bottom: 1.75em;

        #search-docs-form {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        #search-docs-textbox {
            height: 42px;
            border: 0;
            background-color: $paleGray;
            min-width: 0;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $linkActiveColor;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: $linkActiveColor;
            }

            &::-ms-input-placeholder {
                color: $linkActiveColor;
            }
        }

        button {
            background-color: transparent;
            border: 0;
            color: $primaryColor;
            font-weight: $mediumWeight;
        }
    }

    .body {
        flex: 1 1 auto;
        overflow: hidden;
        max-height: 0;
        transform: scaleY(0) scaleX(0);
        transition: max-height .6s ease-out, padding, transform .6s;

        .main-link {
            margin-left: .6em;
            margin-bottom: 1em;
            font-size: $font-size--s;
            font-weight: $boldTextWeight;
            color: $primaryColor;
        }

        &.show {
            transform: scaleY(1) scaleX(1);
        }

        &.default {
            padding: .5em 1em;
            transform: scaleY(1) scaleX(1);
            max-height: unset;
        }

        button {
            cursor: pointer;
            border: 0;
            background: $sidebarRightChevron no-repeat;
            width: 1rem;
            height: 1rem;
            left: -1.3rem;
            position: absolute;
            transform: rotate(270deg);

            &.show {
                transform: rotate(0deg);
                margin-top: .75em;
            }

            &:focus {
                outline: 0;
            }
        }

        ul {
            list-style: none;
            display: none;
            margin-bottom: 1em;

            &[aria-expanded=true] {
                display: block;
            }

            &:first-of-type {
                margin-left: .4em;
            }

            li {
                position: relative;

                a {
                    color: $primaryColor;
                    line-height: 1.5em;
                }
            }

            .main {
                font-size: $font-size--s;
                font-weight: $boldTextWeight;
                margin-top: 1.5em;
            }
        }

        .current {
            text-decoration: underline;
            color: $linkActiveColor;
        }
    }
}

.sidebar--case-study {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .quote-text {
        margin: 2.625rem auto 2rem;
        max-width: 90%;
    }

    .quote-author {
        color: $accentColor;
        margin-top: 1.5rem;
    }
}

.sidebar-close {
    background-color: transparent;
    border: 0;
    float: right;
    @media screen AND (min-width: $bp-md) {
        display: block;
    }
    @media screen AND (min-width: $bp-xl) {
        display: none;
    }
}

#sidebar-toggle {
    background-color: transparent;
    border: 0;
    color: $linkActiveColor;
    font-size: .85em;
    padding: 0;

    svg {
        margin-right: .75em;
    }
    @media screen AND (min-width: $bp-md) {
        display: block;
    }
    @media screen AND (max-width: $bp-lg) {
        margin-top: 1.4rem;
    }
    @media screen AND (min-width: $bp-xl + 1) {
        display: none;
    }
}
