.blog {
    .rssLink {
        position: absolute;
        top: 10px;
        right: 0;
    }

    .subscribe {
        padding: 1em;
        font-size: 1.2em;
        background-color: $backgroundColor;
    }
}
