.landing {
    .hero-label {
        margin: 0 0 0 0;
        padding: 30px 0 0 0;
        font-size: 4rem;
        font-family: "Verdana", serif;
        text-align: center;
    }

    .hero-lead {
        display: block;
        font-size: 1rem;
        font-weight: $heroLeadWeight;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .hero-logo {
        width: 0;
        fill: $heroLogoColor;
    }

    @media (min-width: $bp-sm) {
        .hero-logo {
            width: 7rem;
        }

        .hero-label {
            text-align: left;
        }

        .hero-lead {
            text-align: left;
        }
    }

    .container-fluid {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (min-width: $bp-md) {
        .container-fluid {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .landing-image {
        width: 12rem;
        height: 12rem;
    }

    .card {
        color: $landingCardTextColor;
        opacity: 0.1;
        transition: opacity .25s linear;
        background-color: $landingCardBackgroundColor;
        border-color: $landingCardBorderColor;
        width: 18rem;
        margin: 1rem;
        box-shadow: 3px 3px 8px $landingCardShadowColor;

        a {
            text-decoration: none;
            color: $textColor;

            &:hover {
                color: $textColor;
                text-decoration: none;
            }
        }

        &:hover {
            box-shadow: 3px 3px 8px $landingCardShadowHoverColor;
        }
    }

    .card-title {
        text-align: center;
    }

    .card-line {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        background-color: $landingCardTextColor;
    }

    .card-img-top {
        text-align: center;
        padding: 0;
    }

    .card-body {
        padding-top: 0;
    }

    .buttons {
        opacity: 0;
        transition: opacity .25s ease-in;
    }

    .btn {
        box-shadow: 3px 3px 8px #a7a7a7;
        margin: 1rem 5rem;
        width: 18rem;
    }
}
