.media-resources {
    $panel-height: 11rem;
    $title-size: 2rem;

    table, th, td {
        border: none;
    }

    td {
        line-height: 1.15em;
        vertical-align: middle;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    td.logo {
        width : 100px;
        border: none;
    }

    td.desc {
        border: none;
    }

    li {
        list-style-type: none;
    }

    .panel {
        display: table;
        border-radius: 4px;
        border: 1px solid $mainBrandColor;
        min-height: $panel-height;
        width: 100%;
        margin-bottom: 1rem;

        .title {
            position: relative;
            display: table-cell;
            width: $title-size;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            background-color: $mainBrandColor;
            min-height: 100%;

            div {
                position: absolute;
                top: $panel-height;
                width: $panel-height;
                text-align: center;
                transform: rotate(-90deg);
                transform-origin: left top 0
            }

            p {
                color: $textBrandColor;
                font-size: $title-size;
                margin: 0;
                padding: 0;
                line-height: $title-size;
            }
        }

        .body {
            display: table-cell;
            min-height: 100%;
            padding: 1rem 0;
        }
    }
}
