.section-index {
    .card-title {
        margin-bottom: 0;

        a {
            font-weight: 700;
        }
    }

    .card-text {
        margin-top: 0;
    }

    .card {
        border: none;
    }
}
