{{ define "main" }}

{{ .Scratch.Set "skipSeeAlso" true }}

{{ partial "primary-top.html" . }}

<p>{{ .Description }}</p>

<div class="section-index">
    <div class="row">
        {{ range .Page.Pages }}
            <div class="col-xs-12 col-sm-6 col-xl-4 entry">
                <h5>
                    <a href="{{ .Permalink }}">{{- if .Params.icon -}}<i class="page_icon">
                        {{- partial "icon.html" .Params.icon -}}</i>{{- end -}}{{- .Title -}}</a>
                </h5>
                <p>{{ .Description }}</p>
            </div>
\        {{ end }}
    </div>
</div>

{{ .Content }}

{{ partial "primary-bottom.html" . }}
{{ end }}
