{{ define "main" }}

{{ .Scratch.Set "skipSeeAlso" true }}

{{ partial "primary-top.html" . }}

<p>{{ .Description }}</p>

<div class="section-index">
    <div class="row">
        {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
        {{ $parent := .Page }}

        {{ range $pages }}
            {{ if eq .Parent $parent }}
                <div class="col-xs-12 col-sm-6 col-xl-4 entry">
                    <div style="padding:0rem 1rem;float:right">
                        <span>
                            <a href="{{ .URL }}"><i class="fa fa-long-arrow-alt-right"></i></a>
                        </span>
                    </div>
                    <h5><a href="{{ .URL }}">{{ .Title }}</a></h5>
                    <p>{{ .Description }}</p>
                </div>
            {{ end }}
        {{ end }}
    </div>
</div>

{{ .Content }}

{{ partial "primary-bottom.html" . }}
{{ end }}
