---
layout: default
---
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-6 col-md-3 col-xl-2 sidebar-offcanvas">
            {% include sidebar.html docs=site.about singlecard=true %}
        </div>

        {% assign needTOC = true %}
        {% if page.toc == false %}
            {% assign needTOC = false %}
        {% else %}
            {% include toc.html html=content sanitize=true h_min=2 h_max=4 %}
            {% if emptyTOC %}
                {% assign needTOC = false %}
            {% endif %}
        {% endif %}

        {% if needTOC %}
            <div class="col-12 col-md-9 col-lg-7 col-xl-8">
        {% else %}
            <div class="col-12 col-md-9 col-xl-10">
        {% endif %}
            <p class="d-md-none">
                <label class="sidebar-toggler" data-toggle="offcanvas">
                    <i class="fa fa-chevron-right"></i>
                </label>
            </p>

            <main role="main">
                <h1>{{page.title}}</h1>
                {{ content}}
            </main>
        </div>

        {% if needTOC %}
            <div class="col-12 col-md-2 d-none d-lg-block">
                <nav class="toc">
                    <div class="spacer"></div>
                    <div class="directory" role="directory">
                        {{ toc }}
                    </div>
                </nav>
            </div>
        {% endif %}
    </div>
</div>
