.banner-container {
    display: none;
    top: $headerHeight;
    transition: top .2s;

    &.active {
        top: $activeHeaderHeight;
    }

    @media screen AND (min-width: $bp-md) {
        display: block;
        position: sticky;
        z-index: $banner-z;
        width: 100%;
        text-align: center;
        color: $bannerTextColor;
        background-color: $bannerBackgroundColor;
        font-size: 1.25rem;

        .banner {
            display: none;
            position: relative;
            width: 100%;
        }

        .content {
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;

            p {
                margin: 0;
            }
        }

        a {
            color: $bannerLinkColor;
        }

        a:hover, a:focus {
            color: $bannerLinkHoverColor;
            text-decoration: none;
        }

        a.disabled {
            color: $bannerLinkDisabledColor;
        }

        a.active {
            color: $bannerLinkActiveColor;
            text-decoration: none;
        }
    }
    @media screen AND (min-width: $bp-lg) {
        top: $headerHeightLg;
    }
}
