.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 2px solid $secondaryColor;
    padding: .75rem 2rem;
    font-size: 1.125rem;
    line-height: 1.2;
    border-radius: $button-border-radius;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
    background-color: transparent;
    color: #3d5080;
    font-weight: $buttonWeight;
    cursor: pointer;
    min-width: 13.75rem;

    &:hover,
    &:active,
    &:focus {
        background-color: $secondaryColor;
        color: #ffffff;
        text-decoration: none;
        font-weight: $buttonWeight;
    }

    &--primary {
        background-color: $accentColor;
        border-color: $accentColor;
        color: $primaryColor;

        &:hover, &:focus, &:active {
            background-color: transparent;
            color: $primaryColor;
        }
    }

    &--secondary {
        background-color: $secondaryColor;
        color: #ffffff;

        &:hover {
            background-color: #ffffff;
            color: $secondaryColor;
        }
    }
}
