.call-to-action {
    text-align: center;
    opacity: 0;
    transition: opacity .25s ease-in;

    @media print {
        display: none;
    }

    .btn {
        margin: 1rem;
        width: 13rem;

        @media (min-width: $bp-md) {
            margin: 1rem 5rem;
        }
    }

    .wide {
        width: 20rem;
    }

    button.btn {
        outline: 0;

        &:focus {
            text-decoration: underline;
        }
    }
}
