.callout {
    display: table;
    padding: .5em .5em .5em 0;
    border-radius: 4px;

    margin: 1em 0 1em 1em;
    @media (min-width: $bp-md) {
        margin: 1em;
    }

    .type {
        position: relative;
        display: table-cell;
        width: 3em;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        min-height: 100%;
        text-align: center;
        vertical-align: middle;
    }

    .content {
        display: table-cell;
        min-height: 100%;
    }

    &.tip {
        background-color: $tipCalloutBackgroundColor;
    }

    &.idea {
        background-color: $ideaCalloutBackgroundColor;
    }

    &.warning {
        background-color: $warningCalloutBackgroundColor;
    }

    &:hover {
        svg {
            animation: shake 2.82s cubic-bezier(.36, .07, .19, .97) both;
            animation-iteration-count: infinite;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

        @keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }

            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
    }
}
