.callout {
    border-top: 4px solid;
    border-radius: 4px;
    padding: 1.75em;
    display: flex;
    position: relative;
    margin: 1em 0;

    .type {
        svg {
            fill: inherit;
            stroke: inherit;
            width: 25px;
            height: 25px;
        }
    }

    .content {
        margin-left: 1em;
        min-height: 100%;
        min-width: 0;

        p:first-of-type {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .quote-text {
        @media (max-width: $bp-md) {
            font-size: 1.125rem;
            line-height: 26px;
        }
    }

    figcaption {
        font-size: 1rem;
        margin-top: 1rem;
        text-align: left;
        font-style: normal;
        font-weight: $regularWeight;
        color: $primaryColor;

        @media (min-width: $bp-md) {
            font-size: 1.125rem;
            font-weight: $boldWeight;
        }
    }

    &.tip {
        background-color: $tipCalloutBackgroundColor;
        border-top-color: $tipCalloutBorderColor;
        fill: $tipCalloutBorderColor;
    }

    &.idea {
        background-color: $ideaCalloutBackgroundColor;
        border-top-color: $ideaCalloutBorderColor;
        fill: $ideaCalloutBorderColor;
        stroke: $ideaCalloutBorderColor;
    }

    &.warning {
        background-color: $warningCalloutBackgroundColor;
        border-top-color: $warningCalloutBorderColor;
        fill: $warningCalloutBorderColor;
    }

    &.quote {
        background-color: $quoteCalloutBackgroundColor;
        border-top-color: $quoteCalloutBorderColor;
        fill: $quoteCalloutBorderColor;
        font-style: italic;
    }
}
