.call-to-action {
    text-align: center;
    opacity: 0;
    transition: opacity .25s ease-in;

    @media print {
        display: none;
    }

    .btn {
        margin: 1rem;
        width: 13rem;

        @media (min-width: $bp-md) {
            margin: 1rem 5rem;
        }
    }

    span.btn {
        cursor: not-allowed;

        &:hover {
            background-color: $secondBrandColor;
            color: $textBrandColor;
        }

        &:active {
            background-color: $secondBrandColor;
            color: $textBrandColor;
        }

        &:focus {
            background-color: $secondBrandColor;
            color: $textBrandColor;
        }
    }
}
