.callout {
    display: table;
    padding: .5em .5em .5em 0;
    border-radius: $border-radius;

    margin: 1em 0 1em 1em;
    @media (min-width: $bp-md) {
        margin: 1.25em;
    }

    .type {
        position: relative;
        display: table-cell;
        left: -.75em;
        min-height: 100%;
        text-align: center;
        vertical-align: middle;

        svg {
            fill: $boxBorderColor;
        }
    }

    .content {
        display: table-cell;
        min-height: 100%;

        p:first-of-type {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &.tip {
        background-color: $tipCalloutBackgroundColor;
    }

    &.idea {
        background-color: $ideaCalloutBackgroundColor;
    }

    &.warning {
        background-color: $warningCalloutBackgroundColor;
    }

    &.quote {
        background-color: $blockQuoteBackgroundColor;
        font-style: italic;
    }

    &:hover {
        svg {
            animation: shake 2.82s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

        @keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }

            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
    }
}
