.case-study-suggestions {
    text-align: left;

    h1 {
        max-width: $container-s;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: $bp-md) {
            text-align: center;
        }
    }
}

.logo-wall-heading {
    margin-top: 6em;
}
