.faq-landing {
    column-count: 1;
    column-gap: 2rem;

    @media (min-width: $bp-sm) {
        column-count: 2;
    }

    .panel {
        display: inline-block;
        border: 1px solid $boxBorderColor;
        border-radius: $border-radius;
        width: 100%;
        margin-bottom: 2rem;

        .header {
            color: $textBrandColor;
            background-color: $boxBorderColor;
            padding: .35rem 1.25rem;
            border-bottom: 1px solid rgba(0, 0, 0, .125);
            text-align: center;
        }

        .body {
            padding: 1.25rem;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
    }
}
