#sidebar-toggler, #scroll-to-top, #edit-this-page, #report-site-bugs {
    z-index: $floating-button-z;
    outline: none;
    background-color: rgba($backgroundColor, .7);
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 1rem;
    border: 0;
    box-shadow: 0 0 2px 2px $floatingButtonColor;

    @media print {
        display: none;
    }

    svg {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        fill: $floatingButtonColor;

        &:hover {
            fill: $floatingButtonHoverColor;
        }
    }
}

#sidebar-toggler {
    position: absolute;
    top: $headerHeight;
    right: 10px;

    @media (min-width: $bp-md) {
        display: none;
    }
}

#scroll-to-top-container {
    @media print {
        display: none;
    }

    // don't display the scroll-to-top button if the TOC is being displayed
    @media (min-width: $bp-xl) {
        display: none;
    }

    #scroll-to-top {
        display: none;
        position: fixed;
        top: $headerHeight;
        right: 10px;

        &.show {
            display: block;
        }
    }
}

#edit-this-page-container {
    @media print {
        display: none;
    }

    #edit-this-page {
        display: block;
        position: fixed;
        bottom: calc(4rem + #{$footerHeight});
        right: 1rem;
        background-color: bisque;
    }
}

#report-site-bugs-container {
    @media print {
        display: none;
    }

    #report-site-bugs {
        display: block;
        position: fixed;
        bottom: calc(1rem + #{$footerHeight});
        right: 1rem;
        background-color: bisque;
    }
}
