footer {
    background-image: linear-gradient(to right, $mainBrandColor, $secondBrandColor);
    color: $textBrandColor;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    overflow: hidden;
    padding: 1rem 4px 1.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: [user-links] 40% [info] 60% [dev-links] 0%;
    grid-template-rows: 100%;

    @media print {
        display: none;
    }

    @media (min-width: $bp-sm) {
        padding: 1.5rem 1.25rem 1rem 1.25rem;
    }

    @media (min-width: $bp-lg) {
        grid-template-columns: [user-links] 30% [info] 40% [dev-links] 30%;
    }

    .user-links {
        grid-column: user-links;
        text-align: left;
    }

    .info {
        grid-column: info;
    }

    .dev-links {
        grid-column: dev-links;
        text-align: right;
        display: none;

        @media (min-width: $bp-lg) {
            display: block;
        }
    }

    .channel {
        position: relative;
        display: inline-flex;
        padding: 4px 0;
        border-width: 2px;
        border-color: rgba(0, 0, 0, 0);
        border-style: solid;
        border-radius: 2px;
        color: $textBrandColor;

        a {
            text-decoration: none;
        }

        svg {
            width: 35px;
            height: 35px;
            fill: $textBrandColor;
            stroke: $mainBrandColor;
        }

        span {
            opacity: 0;
            background-color: transparent;
            color: $textBrandColor;
            text-align: center;
            position: absolute;
            z-index: 1;
            width: 200px;
            left: -78px;
            top: -23px;
            font-size: 75%;
        }

        &:hover {
            border-color: white;
            border-radius: 25px;
            box-shadow: 0 0 2px 2px $textBrandColor;
            transition: border-radius 1s, border-color 1s ease;

            span {
                opacity: 1;
                transition: opacity .5s;
            }
        }
    }

    .copyright {
        padding: 0;
        margin: 0;
        color: $textBrandColorLight;
        line-height: 1.6em;
        font-size: 0.7em;
        text-align: right!important;

        @media (min-width: $bp-lg) {
            text-align: center!important;
        }

        a {
            color: $textBrandColorLight;
            text-decoration: underline;

            &:hover {
                color: $textBrandColorLight;
            }
        }
    }

    .tag {
        padding: 0 1rem;
        font-style: italic;
        margin: 0;
        line-height: 1.6em;
        font-size: 0.8em;
    }
}
