.glossary {
    .trampolines {
        font-size: $font-size--l;
        text-align: center;
        padding-top: .8rem;

        @media print {
            display: none;
        }
    }

    .entries {
        .letter {
            @media screen {
                dt:target::before {
                    height: calc(#{$headerHeight} + 4.2rem);
                    margin-top: calc(-#{$headerHeight} - 4.2rem);
                }
            }
        }

        h4 {
            font-size: $font-size--m;
            font-weight: $boldTextWeight;
            border-bottom: 1px solid;
            color: $h1Color;
            border-color: $preBlockBorderColor;
            background-color: $backgroundColor;
            padding-top: 2.2rem;
            padding-bottom: .15rem;
            position: sticky;
            top: calc(#{$headerHeight} - 1rem);
            margin-top: 0;
            margin-bottom: 0;
            z-index: $glossary-letter-z;
        }

        dl {
            margin-left: 0;

            dt {
                font-weight: $glossaryWordWeight;
                list-style-type: none;
                margin-bottom: 0;
                margin-top: .9rem;
                margin-left: 0;
                text-transform: uppercase;
            }

            dd {
                list-style-type: none;
                margin-left: 1.5rem;
            }
        }
    }
}
