.menu {
    position: relative;

    .menu-trigger {
        cursor: pointer;
    }

    .menu-content {
        display: block;
        position: absolute;
        min-width: 160px;
        z-index: $overlay-z;
        padding: 0;
        background-color: $backgroundColor;
        border: 1px solid $dropdownBorderColor;
        border-radius: $border-radius;
        margin-top: .125rem;
        right: 0;
        text-align: left;
        top: -600px;
        transition: top .5s;
        cursor: default;

        a {
            display: block;
            font-weight: $linkWeight;
            color: $textColor;
            padding: .25rem 1.5rem;
            margin: 0;

            &:hover, &:focus {
                color: $textBrandColor;
                background-color: $mainBrandColor;
                text-decoration: none;
            }

            &.active {
                font-weight: 500;
                background-color: transparent;
                background-image: $dropdownCheck;
                background-repeat: no-repeat;
                background-position: .4rem .6rem;
                background-size: .75rem .75rem;
                border: 0;

                &:hover, &:focus {
                    background-image: $dropdownCheckHover;
                    background-color: $mainBrandColor;
                }
            }

            &:focus {
                text-decoration: none;
            }

            &.disabled {
                color: $disabledTextColor;
                background-color: $backgroundColor;
                cursor: default;
            }
        }

        h6 {
            padding: .5rem 1.5rem;
            margin-bottom: 0;
            font-size: .875rem;
            color: #6c757d;
            white-space: nowrap;
        }

        div {
            height: 0;
            margin: .5rem 0;
            overflow: hidden;
            border-top: 1px solid #e9ecef;
        }
    }

    &.show {
        .menu-content {
            top: 1.5rem;
            transition: top .5s;
        }
    }
}
