.notfound {
    text-align: center;

    .icon {
        margin-top: 9rem;
        width: 12rem;
        height: 12rem;
    }

    .error {
        padding: 2rem 0 0 0;
        font-weight: 500;
        font-size: 200%;
    }

    .explanation {
        padding: 2rem 0 9rem 0;
        font-weight: $textWeight;
        font-size: 100%;
    }
}
