.pagenav {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-size: 80%;
    margin: 3.5rem 0;

    @media print {
        display: none;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        text-align: right;
    }

    svg {
        fill: $linkColor;
        stroke: $linkColor;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .2em;

        &:hover, &focus {
            fill: $linkHoverColor;
            stroke: $linkHoverColor;
        }
    }

    a:focus {
        outline: 0;
    }
}
