.pagenav {
    display: flex;
    width: 100%;

    @media print {
        display: none;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        text-align: right;
    }

    p {
        text-transform: uppercase;
        font-size: 80%;
    }

    svg {
        fill: $linkColor;
        stroke: $linkColor;

        &:hover {
            fill: $linkHoverColor;
            stroke: $linkHoverColor;
        }

        margin-left: .5em;
        margin-right: .5em;
    }
}
