.primary {
    display: grid;
    grid-template-columns: [article] 100%;
    grid-column-gap: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;

    @media print {
        padding-left: 0;
        padding-right: 0;
    }

    @media screen AND (min-width: $bp-md) {
        grid-template-columns: [sidebar] 20% [article] calc(80% - 1rem);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sidebar-container {
        max-width: 25em;

        @media print {
            display: none;
        }
    }

    .toc-container {
        display: none;
    }

    .article-container {
        article {
            overflow-x: scroll;
        }
    }

    @media screen AND (min-width: $bp-xl) {
        grid-template-columns: [sidebar] 16% [article] calc(68% - 2rem) [toc] 16%;

        .toc-container {
            display: block;
        }
    }

    &.notoc {
        @media screen AND (min-width: $bp-xl) {
            grid-template-columns: [sidebar] 16% [article] calc(84% - 1rem);
        }
    }

    #see-also {
        @media print {
            display: none;
        }
    }
}
