.primary {
    display: grid;
    grid-template-columns: [article] 100%;
    grid-column-gap: 1.5rem;
    margin-top: 3.75rem;

    @media print {
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-container {
        margin-bottom: 2.5rem;
        @media print {
            display: none;
        }

        @media screen AND (max-width: $bp-xl ) {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 101;
            height: 100%;
            width: 270px;
            overflow-y: auto;
            background: $paleGray;

            &.visible {
                display: block;
            }
        }
        @media screen AND (max-width: $bp-md) {
            width: 100%;
        }
    }

    .toc-container {
        display: none;
    }

    @media screen AND (min-width: $bp-xl + 1) {
        &.has-toc {
            grid-template-columns: [article] calc(86% - 1.5rem) [toc] 14%;
        }

        &.has-sidebar {
            grid-template-columns: [sidebar] 20% [article] calc(80% - 1.5rem);
        }

        &.has-toc.has-sidebar {
            grid-template-columns: [sidebar] 20% [article] calc(66% - (2 * 1.5rem)) [toc] 14%;
        }

        .toc-container {
            display: block;
        }
    }

    #see-also {
        @media print {
            display: none;
        }
    }
}
