.relnote-links {
    text-align: center;

    @media print {
        display: none;
    }

    #buttons {
        opacity: 0;
        transition: opacity .25s ease-in;
    }

    .btn {
        margin: 1rem 5rem;
        width: 13rem;
    }
}
