.relnote-actions {
    display: flex;
    flex-flow: row wrap;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: center;

    a {
        color: $textColor;
        text-decoration: none;

        &:hover {
            color: $textColor;
            text-decoration: none;
        }
    }

    .entry {
        flex-basis: 400px;
        padding: 1rem;
        border: $tabsetBorderColor 1px dashed;
        display: block;

        @media (min-width: $bp-md) {
            padding: 1rem 4rem;
        }

        &:hover {
            background-color: $mainBrandColor;
            cursor: pointer;
        }

        &:active {
            background-color: $buttonActiveColor;
        }

        &:focus {
            background-color: $textBrandColor;
        }
    }

    div.entry {
        cursor: not-allowed;

        &:hover {
            background-color: $backgroundColor;
            cursor: not-allowed;
        }

        &:active {
            background-color: $backgroundColor;
        }

        &:focus {
            background-color: $backgroundColor;
        }
    }

    h5 {
        margin-bottom: 0;
        color: $linkColor;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}
