* { box-sizing: border-box; }
$duration: 30s;

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: fixed;
    z-index: $ticker-z;
    cursor: pointer;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: red;
    padding-left: 100%;
    box-sizing: content-box;

    .ticker {
        display: inline-block;
        height: 4rem;
        line-height: 4rem;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: ticker;
        animation-duration: $duration;

        .item {
            display: inline-block;
            padding: 0 2rem;
            font-size: 2rem;
            color: white;
         }
    }
}
