{{ $full_version := .Get 0 }}
{{ $include_relnote_button := .Get 1 }}

{{ $parts := split $full_version "." }}
{{ $version := printf "%s.%s" (index $parts 0) (index $parts 1) }}
{{ $release_name := $version }}
{{ if ne (index $parts 2) "0" }}
    {{ $release_name = $full_version }}
{{ end }}

{{- $home := .Site.GetPage "home" -}}
{{- $lang := $home.Lang -}}
{{- if eq $lang "en" -}}
    {{- $lang = "" -}}
{{- else -}}
    {{- $lang = "/zh" -}}
{{- end -}}

{{/* latest patch for the given short version */}}

{{ $latest_patch := "" }}
{{ range $rel_info := .Site.Data.releases }}
    {{ if eq $rel_info.name $version }}
        {{ $latest_patch = $rel_info.latest_patch -}}
    {{ end }}
{{ end }}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        window.setTimeout(() => {
            document.querySelectorAll(".call-to-action").forEach(el => {
                el.style.opacity = "1";
            });
        }, 250);
    });
</script>

{{ if ne $latest_patch $full_version }}
    <aside class="callout warning">
        <div class="type">
            {{ partial "large_icon.html" "callout-warning" }}
        </div>
        <div class="content">
            {{ printf (i18n "relnote_update_advice") $release_name }}
            <br/><br>
            <a class="btn" href="{{ $lang }}/about/notes/{{ $latest_patch }}">{{ printf (i18n "relnote_update_button") $latest_patch }}</a>
        </div>
    </aside>
{{ end }}

<div class="call-to-action">
    {{ if .Site.Data.args.preliminary }}
        <span class="btn">{{ printf (i18n "announcement_download") $release_name }}</span>
    {{ else }}
        <a class="btn" href="https://github.com/istio/istio/releases/tag/{{ $full_version }}">{{ printf (i18n "announcement_download") $release_name }}</a>
    {{ end }}

    {{ if $include_relnote_button }}
       <a class="btn" href="{{ $lang }}/about/notes/{{ $release_name }}/">{{ printf (i18n "announcement_relnotes") $release_name }}</a>
    {{ end }}
</div>
