{{ $class := .Get "class" }}
{{ $header := .Get "header" }}

<div class="feature-block{{ if $class}} {{$class}}{{end}}">
    {{ with .Get "image"}}
        <div class="feature-block-image">
            {{ partial "inline_image.html" . }}
        </div>
    {{ end }}

    {{ if or $header .Inner }}
        <div>
            {{ with $header }}
                <h2 class="feature-block-header">{{- . -}}</h2>
            {{ end }}

            <div class="feature-block-text">
                {{ if in (string .Inner) "\n\n" }}
                    {{ .Inner | markdownify }}
                {{ else }}
                    <p>{{ .Inner | markdownify }}</p>
                {{ end }}

                {{ with .Get "url" }}
                    <div class="feature-block-text-btn">
                        <a href="{{.}}" class="btn">{{ i18n "learn_more" }}</a>
                    </div>
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>