{{ $data := index .Site.Data.compatibility.supportStatus }}

<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Currently Supported</th>
      <th>Release Date</th>
      <th>End of Life</th>
      <th>Supported Kubernetes Versions</th>
      <th>Tested, but not supported</th>
    </tr>
  </thead>
  <tbody>
    {{ range $data }}
    <tr>
      <td>{{ .version }}</td>
      <td>{{ .supported }}</td>
      <td>{{ .releaseDate }}</td>
      <td>{{ .eolDate }}</td>
      <td>
        {{- range $i, $v := .k8sVersions -}}
        {{- if ne $i 0 -}}, {{ end -}}
          {{- $v -}}
        {{- end -}}
      </td>
      <td>
        {{- range $i, $v := .testedK8sVersions -}}
        {{- if ne $i 0 -}}, {{ end -}}
          {{- $v -}}
        {{- end -}}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
