// Brand Colors
$mainBrandColor: #466BB0;
$secondBrandColor: #286AC7;
$thirdBrandColor: #98B2E0;
$inverseBrandColor: #FFFFFF;

// Use as an accent color in small quantities to balance out the main theme.
$popBrandColor: hsl(3, 90%, 75%);
$lightPopBrandColor: lighten($popBrandColor, 15%);

// General Colors
$black: #2E2E2E;
$white: #FFFFFF;
$gray: #737373;
$light-gray: lighten($gray, 52%);
$dark-gray: darken($gray, 20%);

$linkColor: $mainBrandColor;
$linkHoverColor: darken($linkColor, 10%);
$linkColorSecondary: $white;
$linkColorTertiary: $gray;
$codeColor: darken($linkColor, 20%);
$codeBkColor: lighten($thirdBrandColor, 10%);
$wellColor: #F9F9F9;
$textColor: #535f61;
$titleColor: #555555;
$headingsColor: rgb(21, 91, 103);
$footerColor: #4e4f4f;
$footerText: #eaeaea;
$errorColor: #C40003;
