// Shared
.vpad {
  padding-top: $vpad;
}

.page-title-bar{
  background-color: $thirdBrandColor;
  border-top: 3px solid $lightPopBrandColor;
  padding-top: 20px;
  padding-bottom: 30px;

  .fa {
    color: $popBrandColor;
  }
}

.page-spacer {
  height: 100px;
}

.section {
  padding: 50px 0;
  position: relative;
}

.section-divider {
  border-bottom: 2px solid #e3e3e3;
  margin: 0;
  width: 100%; 
}

.toc {
  background-color: $light-gray;
  border: 1px solid $gray;
  border-radius: 6px;
  display: none !important;
  padding: 15px;
  float: right;
  //position: absolute;
  right: 45px;
  margin-top: 15px;

  @media (min-width: 768px) {
      display: block !important;
      margin-left: 20px;
  }

  ul {
    list-style-type: none !important;
    //padding-left: 10px;
    font-size: 90%;

    ul {
        font-size: 90%;
        padding-left: 10px;
    }

    a {
        color: $dark-gray;
        font-weight: normal;
    }
  }
}

.toc.mobile-toc{
  display: none !important;

  @media (max-width: 768px) {
    margin-top: 30px;
    display: block !important;
    border-left: 4px solid $light-gray;
  }
}

// Tables are table-y
table,
th,
td {
  border: 1px solid lighten($textColor, 20%);
  padding: 6px
}

table {
  border-collapse: collapse;
}

th {
  background-color: $thirdBrandColor;
}

// Tabs are tabby
.ui-widget-content {
  font-size: $font-size--primary !important;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: $textColor !important;
}

.ui-widget-content a {
  color: $mainBrandColor !important;
}

.ui-widget-content a:hover, a:focus {
  color: $linkHoverColor !important;
}
