*[id]:before {
      display: block;
      content: " ";
      margin-top: -3.0em;
      height: 3.0em;
      visibility: hidden;
}

html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $headerHeight-xs;
    margin-bottom: $footerHeight-xs;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $textColor;

    @media (min-height: $bp-md-v) {
        padding-top: $headerHeight;
    }

    @media (min-width: $bp-sm) {
        margin-bottom: $footerHeight;
    }
}

a {
    color: $linkColor;
    text-decoration: none;
    font-weight: 500;
}

a:hover, a:focus {
    color: $linkHoverColor;
    text-decoration: none;
    font-weight: 500;
}

a.disabled {
    color: $linkDisabledColor;
    text-decoration: none;
    font-weight: 500;
}

table, th, td {
    border: 1px solid lighten($textColor, 20%);
    padding: .3em;
}

table {
    border-collapse: collapse;
}

th {
    background-color: $thirdBrandColor;
}

pre.code-toolbar {
    max-height: 30em;
    margin: .6em 2em;

    @media (min-width: $bp-md) {
        margin: 1.5em 0;
    }

    >.toolbar {
        top: -2px;
    }

    >.toolbar a {
        background-color: $mainBrandColor;
        color: $white;
    }

    >.toolbar a:hover {
        background-color: $secondBrandColor;
        color: $white;
    }

    >code {
        border-left-width: 4px;
    }
}

p {
    font-size: $font-size--xs;
    line-height: 1.5;
    margin: .25em 0;

    @media (min-width: $bp-md) {
        margin: 1.5em 0;
    }
}

li, dt, dd {
    font-size: $font-size--xs;
    line-height: 1.5;
    margin: .25em;
}

ol, ul, dl {
    list-style: initial;
    font-size: $font-size--primary;
    margin: 0 1.5em;
    padding: 0;
}

li p, dt p, dd p {
    margin: .4em 0;
}

ol {
    list-style: decimal;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    font-weight: normal;
}

h1 {
    font-size: $font-size--xxl;
    color: $secondBrandColor;
    margin: 30px 0;
}

h2 {
    font-size: $font-size--xl;
    color: $black;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-color: $gray;
    border-style: solid;
}

h3 {
    font-size: $font-size--l;
    font-weight: 500;
    color: $dark-gray;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 30px;
}

h4 {
    font-size: $font-size--l;
    font-weight: 500;
    margin: 30px 0 20px;
    color: $dark-gray;

    // Text immediately following h4 should have same level of indention
    + p {
        margin: 10px 0;

        @media (max-width: 768px) {
            margin: 5px 0;
        }
    }
}

h5 {
    font-size: $font-size--s;
    font-weight: 500;
    color: $black;
}

h6 {
    font-size: .9rem;
    font-weight: 500;
    color: $black;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    width: 100%;
}

blockquote {
    display: block;
    margin: 1em 3em;
    background-color: $light-gray;
}

.spacer {
    height: .1rem;

    @media (min-width: $bp-md) {
        height: 1rem;
    }
}