.markdown {
  padding-bottom: 60px;
  
  // Text Blocks
  p {
    margin: 10px 0;
    font-weight: 300;
    line-height: 1.5;
    @media (min-width: $tablet) {
      margin: 20px 0;
    }
  }
  
  em { 
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  img {
    width: 100%;
  }

  // List Items
  li {
    line-height: 24px;
    margin: 5px;
  }

  // Paragraphs inside list items whether you want them or not (thanks, Markdown)
  li p {
    margin: 5px;
  }

  // Lists
  ol,
  ul {
    list-style: initial;
    font-size: $font-size--primary;
    font-weight: 300;
    margin: 0 20px;

    @media (max-width: 768px) {
      //margin: 0;
    }
  }
  
  ol {
    list-style: decimal;
  }

  h1 {
    color: $secondBrandColor;
  }

  // Section Headlines 
  h2 {
    margin-bottom: 20px; 
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-color: $gray;
    border-style: solid;
  }

  // Section Headlines 
  h3 {
    color: $dark-gray;
    letter-spacing: 1px;
    margin-bottom: 20px; 
    margin-top: 30px;
  }

  // Section Subheadlines
  h4 {
    margin: 30px 0 20px;
    color: $dark-gray;
    
    // Text immediately following h4 should have same level of indention  
    + p {
      margin: 10px 0;

      @media (max-width: 768px) {
        margin: 5px 0;
      }
    }
  }

  pre {
    margin: 5px 25px;

    @media (max-width: 768px) {
      margin: 5px 0;
    }
  }

  blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    background-color: $light-gray;
  }

  // Lead Text Block
  .lead {
    margin: 0 0 30px;
    color: $dark-gray;
    font-size: 18px;
  }
}
