body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p, ul, td, ol {
  font-weight: normal;
}

a {
  font-weight: 500;
}

p {
  font-size: $font-size--xs;
  line-height: 1rem;
}

p.lead {
  font-size: $font-size--m;
  font-weight: 500;
}

h1 {
  font-size: $font-size--xxl;
  color: $secondBrandColor;
  margin: $spacing--xl 0;
}

h2 {
  font-size: $font-size--xl;
  color: $black;
}

h3 {
  font-size: $font-size--l;
  letter-spacing: 1px;
  font-weight: 500;
  color: $black;
}

h4 {
  font-size: $font-size--l;
  font-weight: 500;
  margin: $spacing--m 0;
}

h5 {
  font-size: $font-size--s;
  font-weight: 500;
  color: $black;
}

h6 {
  font-size: .9rem;
  font-weight: 500;
  color: $black;
}

figcaption {
  font-size: $font-size--m;
  font-weight: 500;
}
