.btn {
    &.btn-istio {
        background-color: $secondBrandColor;
        color: $textBrandColor;
        font-weight: $buttonWeight;
        letter-spacing: 1px;
        cursor: pointer;

        &:hover {
            background-color: $mainBrandColor;
        }

        &:active {
            background-color: $buttonActiveColor;
        }
    }
}
