footer {
    background-image: linear-gradient(to right, $mainBrandColor, $secondBrandColor);
    color: $textBrandColor;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    overflow: hidden;
    padding: 1rem 0 1.5rem;
    text-align: center;

    @media (min-width: $bp-sm) {
        padding: 1.5rem 0 1rem 0;
    }

    .channel {
        position: relative;
        display: inline-flex;
        padding: 4px;
        border-width: 2px;
        border-color: rgba(0, 0, 0, 0);
        border-style: solid;
        border-radius: 2px;
        color: $textBrandColor;

        a {
            text-decoration: none;
        }

        svg {
            width: 35px;
            height: 35px;
            fill: $textBrandColor;
            stroke: $mainBrandColor;
        }

        span {
            opacity: 0;
            background-color: transparent;
            color: $textBrandColor;
            text-align: center;
            position: absolute;
            z-index: 1;
            width: 200px;
            left: -78px;
            top: -23px;
            font-size: 75%;
        }

        &:hover {
            border-color: white;
            border-radius: 25px;
            box-shadow: 0 0 2px 2px $textBrandColor;
            transition: border-radius 1s, border-color 1s ease;

            span {
                opacity: 1;
                transition: opacity .5s;
            }
        }
    }

    .copyright {
        padding: 0;
        margin: 0;
        color: $textBrandColorLight;
        line-height: 1.6em;
        font-size: 0.7em;
        text-align: right!important;

        @media (min-width: $bp-lg) {
            text-align: center!important;
        }

        a {
            color: $textBrandColorLight;
            text-decoration: underline;

            &:hover {
                color: $textBrandColorLight;
            }
        }
    }

    .tag {
        padding: 0;
        font-style: italic;
        margin: 0;
        line-height: 1.6em;
        font-size: 0.8em;
    }
}
