.tabset {
    .nav-tabs {
        border: none;
        margin: 0 0 0 4px;
        padding: 0;

        .nav-item {
            display: inline-block;
            margin: 0 3px;
            padding: 0;
        }

        .nav-link {
            border: 1px solid $mainBrandColor;
            border-bottom: none;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            display: block;
            padding: 0 1rem;
            transform: skewX(-30deg);
            transform-origin: left bottom;

            span {
                display: block;
                transform: skewX(20deg);
                font-size: 80%;
            }

            &:hover {
                background-color: $textBrandHighlightColor;
            }
        }

        .nav-link.active {
            background-color: $mainBrandColor;
            cursor: default;

            span {
                color: $textBrandColor;
            }
        }
    }

    .tab-content {
        border: 1px solid $mainBrandColor;
        border-radius: 4px;
    }
}
